[2016-04-15 15:38] alokrajiv opened #1 "sync writes in Android"
Noticed that you use apply() followed by callbackContext.
Would it be better to use commit() and then return the value, because if multiple threads or simultaneous writes come, apply() is async and not blocking. Also there is no provision for getting response whether the write is complete in the callback.

[2016-04-18 14:13] GillesC commented on #1
Thanks for the valuable input!
I'll put it to good use, and start immediately with adapting it in my plugin.

[2016-04-18 14:49] #1 closed

[2016-04-18 14:51] alokrajiv commented on #1
don't mind doing the android part. So, if you don't mind add me as the assignee.

[2016-04-18 14:52] GillesC commented on #1
I've done it already! ;)

[2016-04-18 15:08] alokrajiv commented on #1
no worries... saw the change. it'll be great if you refer the commit while closing the issue as well, just in case for later bug tracking..

[2016-04-18 15:13] GillesC commented on #1
Issue resolved in commit 5d6364b6b696a217a9fb4cf7f96b7b36e187ed70

(BTW I'm relatively new to the world of Github, thanks for helping me getting things done right.)

[2016-04-18 15:27] alokrajiv commented on #1
no problem.

[2016-04-19 12:27] alokrajiv opened #3 "Add a LICENSE file"

[2016-04-19 16:10] GillesC commented on #3
Added license file
commit 4af8df7e32484f9368774a618d524c04afabc0dd

[2016-04-19 16:10] #3 closed

[2016-04-19 17:31] alokrajiv opened #4 "Object datatype support"
would it be good to have put and get for object datatypes as well.

[2016-04-19 17:37] alokrajiv commented on #4
For my purpose now, I am stringify-ing the object and using the string put/get functions. But, I'd like add it to the plugin as a function.

[2016-04-19 17:39] alokrajiv commented on #4
I have made a merge request with the same.

[2016-04-19 17:40] GillesC commented on #4
And how are you parsing the string back to an object? Are you using JSON or something?
I don't see how you're doing it at the moment.

[2016-04-19 17:42] alokrajiv commented on #4
line-no: 144 & 156 in NativeStorage.js

[2016-04-19 17:42] GillesC commented on #4
Aah I see indeed, storing it as a JSON string.

[2016-04-19 17:45] GillesC commented on #4
Thanks for the input. I will update the readme file and the npm registry

[2016-04-19 17:48] alokrajiv commented on #4
Closed with commit  [e0e8b0b] (https://github.com/GillesC/cordova-plugin-nativestorage/commit/e0e8b0bd6dcf7122fe98e144008b38f419fea728) .

[2016-04-19 17:57] alokrajiv commented on #4
@GillesC  I think this plugin would be very useful if made more popular. I am interested in joining as collaborator on this repo.

[2016-04-19 18:04] GillesC commented on #4
479 downloads in less than 3 weeks isn't nothing, but ey.
What enhancements would you make?

[2016-04-19 18:06] GillesC commented on #4
Still losed with commit e0e8b0bd6dcf7122fe98e144008b38f419fea728.
I just pressed the wrong button --'

[2016-04-19 18:06] #4 closed

[2016-04-19 18:41] alokrajiv commented on #4
@GillesC for now I was thinking of integrating cordova-test framework which is very standard in most standard cordova plugins like `media` , `device` ... And then also integrate travis for build test. Other features depending on feature requests maybe.

[2016-04-19 18:47] GillesC commented on #4
@alokrajiv You're now officially a collab ;) Congratz.

[2016-04-19 19:15] alokrajiv commented on #4
@GillesC thanks, what is ur email. I wanted to remove these off-topic conversations from this issue to mail thread.

[2016-04-19 19:21] alokrajiv opened #6 "Travis CI Integration"
Integrate Travis CI for the current npm test.

[2016-04-19 19:23] alokrajiv commented on #6
@GillesC  since `npm test` is set up, enable TRAVIS CI.

[2016-04-19 19:25] alokrajiv opened #7 "Tests for the plugin."
Integrate `cordova-plugin-test-framework` and write test for existing features.

[2016-04-19 19:37] alokrajiv opened #8 "Uniform defaults for getter functions."
Should default values be uniform across platforms, because currently defaults are different depending on the platform.

[2016-04-19 19:41] GillesC commented on #8
I've opted for logical default values in Android. But iOS (NSUSerDefaults) uses its own default values which could not be (by my knowledge) modified.

I've chosen not to take the same defaults because the default values in NSUSerDefaults were not --by my opnion-- straightforward.

[2016-04-19 19:50] GillesC commented on #6
@alokrajiv Added TRAVIS CI to this repo, will you indclude the `.travis.yml` file?
I'm new to this kind of testing (I'm a Java-guy)

[2016-04-19 20:07] alokrajiv commented on #8
ok.. I asked this because when using the plugin from within the app the javascript code logic might need to be aware which platform it is currently running in for decision making.
Example:

This requires cordova-device plugin.

If we enforce W3C javascript standard defaults from our `NativeStorage.js` then the plugin functions' operation will be true cross-platform behaving uniformly across device

[2016-04-19 20:07] alokrajiv commented on #6
No problem I'll look into it.

[2016-04-19 20:15] GillesC commented on #8
I could change the default values in Android, to the corresponding values in iOS. If you think this is the way to go. I'm just thinking of the trade-off here. Cross-platform behaviour or logical defaults values in Android. a default '0' value for integers is just ridiculous. But if you --with your experience-- think that we should change this, by all means. ;)

[2016-04-19 20:18] GillesC commented on #6
And passed!
`.travis.yml ` added in commit 1bc2789961ddcf0c497078c886c51462cda8d1c6

[2016-04-19 20:20] alokrajiv commented on #6
cud you add the badge on the readme page also.

[2016-04-19 20:20] #6 closed

[2016-04-19 20:26] GillesC commented on #6
Done.

[2016-04-19 20:29] alokrajiv commented on #6
perfect.
Added travis badge in commit : [5d54f80](https://github.com/GillesC/cordova-plugin-nativestorage/commit/5d54f806a351ce4990a16450ac7fb06048cbdf69)

[2016-04-20 08:24] alokrajiv commented on #8
lets leave it open for opinions from other users and decide based on the outcome.

[2016-04-21 08:30] HbIXA opened #9 "Fallback for testing in browser."
log

[code]

[2016-04-21 08:37] alokrajiv commented on #9
are you referring to the fact that you are not able to run in the browser during development.

[2016-04-21 08:38] HbIXA commented on #9
Yes

[2016-04-21 08:44] alokrajiv commented on #9
In the browser there is no preference or 'native storage' available. This is the same reason why many plugins don't work in a browser and work only in the device or emulator.  A possible soln would be to have a fallback to localstorage. As of now we don't have a javascript proxy to fall back.

[2016-04-21 08:47] HbIXA commented on #9
I think it makes sense to implement at least a cookie, it is for the browser .

[2016-04-21 08:55] alokrajiv commented on #9
See this [ngCordova doc](http://ngcordova.com/docs/common-issues/) link which specifies testing apps with plugins in general on a browser is not a good idea.
It is a common issue with cordova and not specifically this plugin. Same goes with plugins such as media, gyro, camera etc.

[2016-04-21 11:36] marianfeiler opened #10 "not working"
I installed the Plugin, but it is not working.
nativeStorage is not available.

I try on deviceready:

var ns = (typeof nativeStorage == "undefined") ? false : true;
if(ns)
{
    alert("nativeStorage is available");
    nativeStorage.putString(
        "foo",
        "bar",
        function(result)
        {
            alert(result);
         },
         function(e)
         {
            alert(e

[2016-04-21 11:40] alokrajiv commented on #10
which platform are you using?

[2016-04-21 11:59] marianfeiler commented on #10
I am working on iOS 9.3.1

[2016-04-21 12:08] alokrajiv commented on #10
I am able to run it on iOS v9.3 without any issues.
could you run
`cordova plugin ls`
and confirm output of the above command to have:
`cordova-plugin-nativestorage 1.0.9 "NativeStorage"`.

[2016-04-21 12:17] marianfeiler commented on #10
I confirm the output, see below:

[code]

[2016-04-21 12:40] alokrajiv commented on #10
@marianfeiler
I noticed you are using `typeof nativeStorage `
could you try with `typeof NativeStorage` with the first letter 'n' as capital 'N'.

[2016-04-21 14:23] marianfeiler commented on #10
I tried, but i run in Error.
But I tried and tried, and then, I think it was Build Error with Phonegap.
Now it works like a charm :)
But I think the handling could be nicer... like just so for setting:
`var result = nativeStorage.set("foo", "bar"); // returns true|false`
or for getting:
`var myString = nativeStorage.getString("foo"); // returns String (bar) and in error false`
Thanks again a lot f

[2016-04-21 14:29] alokrajiv commented on #10
Great to know you got it working.  So, thank you for confirming. I am closing this issue.
Also we don't have a return type, because the operation is asynchronous.
So, for errors as-per Javascript standards, you could use the 4rd parameter of NativeStorage.set() to pass an error handler function, which will be called with the error as parameter.

[2016-04-21 14:29] #10 closed

[2016-04-21 14:30] GillesC commented on #10
I've opted for callback functions because of the nature of JavaScript.  It's an inherent strategy used in JavaScript. It makes asynchronuous communication possible. Thus, not blocking the rest of the code. The overhead introduced by Cordova is in that manner less obvious.

[2016-04-21 14:36] GillesC commented on #9
@alokrajiv I'll implement a localstorage approach if the application is running in the browser.

[2016-04-21 14:42] alokrajiv commented on #9
@GillesC Sounds good.

[2016-04-21 14:43] GillesC commented on #9
It'll be a simpel approach: test if in browser, if yes save via localstorage.

[2016-04-21 14:44] alokrajiv commented on #9
I suggest you could check for availability of cordova or phonegap. if not fallback to localstorage. because checking if running in browser will be difficult.

[2016-04-21 14:47] GillesC commented on #9
cordova provides a cordova.platformId parameter whichs results in 'browser' when running in a browser.

[2016-04-21 14:56] alokrajiv commented on #9
ok then. But, I though that was for the 'browser' platform only. Anyways, try it. You can see this open issue [link](https://github.com/Wizcorp/phonegap-facebook-plugin/issues/794). Because usually in the browser cordova is undefined.

[2016-04-21 15:03] GillesC commented on #9
Thank you, I was just checking the platformID, now I will check for cordova and phonegap also ;)

[2016-04-21 15:18] GillesC commented on #9
saving and stoing when running in a browser will result in invocations on these methods.
I will now begin testing this implementation
[code]

[2016-04-21 15:58] GillesC commented on #9
Testing in browser now possible. Check if your problem is resolved.

Added browser for testing purposes in commit 29b4bb6348732b6b7ca260894f15eaf592e5d0a4.

[2016-04-21 16:09] alokrajiv commented on #9
@GillesC are you able to reproduce the results on browser?

[2016-04-21 16:11] GillesC commented on #9
Yup I've tested through the browser platform.

[2016-04-21 16:15] alokrajiv commented on #9
Working perfectly. I am closing the issue.

[2016-04-21 16:16] alokrajiv commented on #9
commit 29b4bb6348732b6b7ca260894f15eaf592e5d0a4.

[2016-04-21 16:22] GillesC commented on #9
Yeah, I thought waiting for @HbIXA to respond. And if his issue had resolved, than to close this issue.

[2016-04-21 16:56] alokrajiv commented on #9
Ok, lets wait for @HbIXA  to confirm. If he doesnt soon, I'll reopen the issue.

[2016-04-21 19:20] alokrajiv commented on #9
Temporarily reopening the issue for 48hrs. @HbIXA pls confirm that your issue is resolved. If not in 48hrs we'll close the issue because we have tested and aren't facing the issue anymore.

[2016-04-22 05:09] HbIXA commented on #9
1. rm plugin
2. add plugin

result : plugin ls
`cordova-plugin-nativestorage 1.0.9 "NativeStorage"`

version not updated

[2016-04-22 06:32] alokrajiv commented on #9
`cordova plugin remove cordova-plugin-nativestorage && cordova plugin add https://github.com/GillesC/cordova-plugin-nativestorage.git && cordova plugin ls `

I suspect you didn't install the development version. Bcoz the v1.0.10 isn't on release yet.

[2016-04-22 09:11] GillesC commented on #9
Like I said in a previous comment, you must install dthe development version. this because I'm waiting for your response to republish the plugin on npm.

Testing in browser is now possible. Would you check if your problem has been resolved?

Please remove the old version first:
[code]
And use the development version of the plugin:
[code]

[2016-04-22 09:24] HbIXA commented on #9
good job

[2016-04-22 09:25] GillesC commented on #9
I think by 'good job' you meant, that the plugin works ;)
I'll close this issue now.

Added browser for testing purposes in commit 29b4bb6.

[2016-04-22 09:33] alokrajiv opened #11 "Release tagging."
@GillesC What do you say we start release tagging to maintain version binaries on github itself.

[2016-04-22 09:37] GillesC commented on #11
To be able to break with the current API in the future?
Or for another purpose?

[2016-04-22 09:41] alokrajiv commented on #11
Not necessarily, but mainly to maintain downloading binaries if anyone requires. And for keeping track of release commits, versions and for users to easily differentiate between development builds and production builds.
[Github Spec](https://help.github.com/articles/creating-releases/)

[2016-04-22 09:44] GillesC commented on #11
I shall maintain release tagging. These releases will follow the same version numbers as the npm registery, which can be found in the plugin.xml

[2016-04-22 09:44] #11 closed

[2016-04-22 09:47] alokrajiv commented on #11
Shall I add a release tag for the current version for now, or you will do it ?

[2016-04-22 09:48] GillesC commented on #11
I'm currently in class, so it would be nice if you did the current one ;)

[2016-04-22 09:49] alokrajiv commented on #11
No problem.

[2016-04-22 10:06] alokrajiv commented on #11
@GillesC  Done. I have added v1.0.10 release tag on current build.
NPM Registry is one version now behind. I have not updated that because I'm not marked as a collaborator there.

[2016-04-22 10:07] GillesC commented on #11
@alokrajiv I've justed completed the publish ;)

[2016-04-22 10:08] alokrajiv commented on #11
Perfect.

[2016-04-24 13:40] jayj commented on #9
Thanks for this. I have an issue where the `inBrowser` function returns true for me on Android because `window.phonegap` is undefined.

[2016-04-24 13:46] alokrajiv commented on #9
@jayj I understood. But, let me recreate the issue. and I will respond back.

[2016-04-24 13:58] alokrajiv commented on #9
@jayj Thank you for pointing , the commit actually broke the functionality. I am re-opening the issue while I update the inBrowser function.

[2016-04-24 14:19] alokrajiv commented on #9
I have updated it. Please reinstall the development version and check.
`cordova plugin remove cordova-plugin-nativestorage && cordova plugin add https://github.com/GillesC/cordova-plugin-nativestorage.git`
And retry your use case. I beleive I have corrected the problem with commit 3714c9b319b650d70211af8e5fb7d26c314b9685.
@jayj Please confirm.

[2016-04-24 15:48] jayj commented on #9
@alokrajiv thanks for the quick fix! It works now 👍

[2016-04-24 15:54] GillesC commented on #9
Glad thinks worked out! I'm closing the issue
Problem corrected with commit 3714c9b

[2016-04-24 15:54] #9 closed

[2016-04-26 06:43] thedoorbell opened #13 "Uncaught ReferenceError: require is not defined"
When I launch my app in console I get "Uncaught ReferenceError: require is not defined" from NativeStorage.js.

And when I try to set, for example, string I get "Uncaught TypeError: NativeStorage.putString is not a function".

What should I do?

[2016-04-26 06:52] alokrajiv commented on #13
What platform are you running?

[2016-04-26 06:53] thedoorbell commented on #13
Im using Ionic framework and testing in Chrome both iOS and Android.

[2016-04-26 06:55] alokrajiv commented on #13
You are testing Chrome, meaning using `ionic serve` or `cordova run browser`?

[2016-04-26 06:55] thedoorbell commented on #13
ionic serve

[2016-04-26 06:58] alokrajiv commented on #13
Ionic is facing an issue with serve [see link](https://github.com/driftyco/ionic-cli/issues/354).
So, plugins don't work in ionic serve and the error you are getting is not a plugin error, but a cordova error because require is included from cordova and it itself isn't available.

[2016-04-26 06:59] thedoorbell commented on #13
So If I tried to test in Ionic View it should works?

[2016-04-26 06:59] alokrajiv commented on #13
do
[code]

Use Ripple emulator from there if required.

[2016-04-26 07:03] thedoorbell commented on #13
`Error executing "google-chrome --user-data-dir=/tmp/temp_chrome_user_data_dir_for_cordova http://localhost:8000/index.html": /bin/sh: 1: google-chrome: not found
`

[2016-04-26 07:09] alokrajiv commented on #13
I will continue to try and help you, but since this isn't a NativeStorage issue, I'm closing the issue.

[2016-04-26 07:09] #13 closed

[2016-04-26 07:10] alokrajiv commented on #13
I looks like google-chrome is not installed or configured rite. What Operating system are you using?

[2016-04-26 07:12] thedoorbell commented on #13
Oh right. Im developing in VirtualBox Debian without UI, and when I running ionic serve, im testing from browser in Windows...

[2016-04-26 07:30] alokrajiv commented on #13
is your issue resolved?

[2016-04-26 07:31] thedoorbell commented on #13
No.

[2016-04-26 07:36] alokrajiv commented on #13
you cannot run it as a server, because cordova.js has to be served from the platform. try testing on an emulator or device.

[2016-04-26 07:50] thedoorbell commented on #13
Okay, thanks, now I got it :)

[2016-05-01 13:54] alokrajiv commented on #7
Basic Test Suite setup and One Main test is written.

[2016-05-01 13:55] alokrajiv commented on #7
I had merged the pull.

Closing this issue with commit 2af9c553392d5731f7782ad894a08cbd183ed5f2

[2016-05-01 13:55] #7 closed

[2016-05-01 15:18] alokrajiv opened #16 "Demo Examples"
Add an example demo

[2016-05-01 15:20] alokrajiv commented on #16
@GillesC  I'm making a pull request with a full working example. But, could you add documentation for it on the ReadMe.

[2016-05-01 15:23] GillesC commented on #16
@alokrajiv I will! ;)

[2016-05-01 15:24] alokrajiv commented on #16
Closing with commit 88d77bf0f89bdd437214ce5131c3863114e73dab

[2016-05-01 15:24] #16 closed

[2016-05-01 15:47] alokrajiv commented on #16
@GillesC

[2016-05-11 11:15] GillesC commented on #8
This approach will be adressed in the new version (2.0.0).
There will be no need to specifiy default values, because when the requested value isn't accessible the error-callback will be invoked.

More info soon.

[2016-05-12 16:20] GillesC commented on #8
This issue is no longer relevant because of the newly API.
For more information check the documentation and wiki page
Solved in commit 08660e93dba9f52769c6584ee8884f0e85bc40a0 (merge)

[2016-05-12 16:20] #8 closed

[2016-05-27 13:56] Neo1975 commented on #10
Hi,
I had the same problem. After many test try and debugging I understand that: angular application, service and controller are initialized before cordova plugins. So in my case I use **NativeStorage** object at Service startup.
To avoid problems I suggest you to:

- Remove **ng-app** from body
- put this cose at the end of _index.html_

`<script type="text/javascript">
document.addEventListener(

[2016-05-27 16:04] GillesC commented on #10
@Neo1975 I've written a [wrapper ](https://github.com/TheCocoaProject/ngcordova-wrapper-nativestorage), can u see if the problem persists when using the wrapper to acces the NativeStorage functionalities. I so I will include your instructions for this problem in the README, otherwise the users should use the wrapper for using the plugin in Ionic or other AngulerJS related frameworks.

[2016-05-27 16:29] Neo1975 commented on #10
Indeed, I imported wrapper project as you describe in the ReadMe file: the
exception is throw by getItem and setItem method found NativeStorage
undefined. Perhaps can depends on Ionic Framework but in the way that I
describe above now works well.

Il giorno ven 27 mag 2016 alle ore 18:04 Gilles Callebaut <
notifications@github.com> ha scritto:

[2016-05-27 16:32] GillesC commented on #10
@Neo1975 Thanks for your contribution, I will update the readme and will look further into the matter, when I have more time.

[2016-06-13 17:03] jwuliger commented on #10
Hello. I know this is closed, but I am trying to use the fix described by @Neo1975. I am not able to get my angular app to run. Is there a more specific place that I place the javascript bootstrapper after I remove ng-app from my body tag? Thanks so much for any help.

[2016-06-13 17:22] alokrajiv commented on #10
hi @jwuliger, not very familiar with the exact issue, but did you try to bootstrap after onready using the script as mentioned by @Neo1975.

[2016-06-13 17:34] jwuliger commented on #10
Hello @alokrajiv Thanks for the reply. Yes, I am using the script as suggested, just changed the app name. I have tried placing it in many different locations at the bottom of my index.html file. Here is a snippet:

[code]

I suppose this was the solution to getting "undefined" when using a get call when there is nothing in storage yet. Like I said I have tried many iterations of the code placemen

[2016-06-13 19:06] BenjaminConant opened #24 "Implicit conversion loses integer precision warnings"
Getting two warnings from NativeStorage.m on build... build succeeds but would like to know whats going on ..
<img width="403" alt="screen shot 2016-06-13 at 3 05 16 pm" src="https://cloud.githubusercontent.com/assets/7742063/16019720/69df5390-3178-11e6-8e23-929c0b91a59a.png">
<img width="541" alt="screen shot 2016-06-13 at 3 05 29 pm" src="https://cloud.githubusercontent.com/assets/7742063/160197

[2016-06-13 19:26] alokrajiv commented on #24
@BenjaminConant Hi, I'm assuming the issue shot because of 64-bit unsigned long being 64bit but the int is 32-bit. so there is precision loss, I'm assuming for very large number with representations above said limits. But, I'll let @GillesC comment as well because I'm not very familiar with the objective-c implementation at that particular point.

[2016-06-13 19:50] alokrajiv commented on #10
@jwuliger Which version of angular are you using? also are you using ionic? without ionic I am able to inject `$cordovaNativeStorage` without any troubles using ng-app itself, no bootstrapping.

[2016-06-15 08:23] GillesC commented on #24
@BenjaminConant Alokrajiv is correct. Via `integerValue` an NSInteger is returned. But the NSUserDefaults expects an int and not a NSInteger, i.e. it stores an int nog a NSInteger in iOS. So it must cast the NSInteger to an int. This warning just says that there could be a precision loss when casting NSInteger to an int. This is only the case when storing very large numbers by means of the `putInt

[2016-06-15 09:25] GillesC commented on #24
@BenjaminConant alokrajiv is correct. In Android the number is also stored as an integer and not as a long (which is a NSInteger in iOS). Because of this reason I've opted to store it as an int. So the same functionality is provided by Android and iOS. But now I've changed the code so an NSInteger is stored, which resolves your 'problem', i.e. the generated warning.

This change is only made in th

[2016-06-15 09:25] #24 closed

[2016-06-23 16:44] zwacky opened #26 "NativeStorage.clear()?"
hey there
i think a `window.NativeStorage.clear()` would make sense to have. what do you think?
cheers

[2016-06-23 16:49] GillesC commented on #26
This is certainly possible. I will implement it when I've the time. Thanks for the good idea!

[2016-06-23 19:14] GillesC commented on #26
Added `clear()` function (with callback's) with commit 8250903b87de76af037745bb8680ac3b25e16d7f.
Version has been updated tot v2.0.2 and after one last test, it will be published to NPM.

[2016-06-23 19:14] #26 closed

[2016-06-23 19:31] GillesC commented on #26
Published on NPM: cordova-plugin-nativestorage@2.0.2

[2016-07-19 16:41] adamscybot opened #29 "Doesnt compile for iOS with cordova-ios < 4"
I get compile errors on ios:

[code]

Is compatibility possible with cordova iOS < 4? I need iOS 7 support.

[2016-07-19 16:51] alokrajiv commented on #29
@adamscybot Which version are you using?

[2016-07-19 17:16] GillesC commented on #29
Message as int will work. It was previously implementeren like that before issue #24. This issue also contains a screenshot were I first cast the nsinteger prior to storing it as an int. With these modifications (explicit cast) it will certainly work.

[2016-07-19 17:22] alokrajiv commented on #29
@GillesC Almost forgot about that. @adamscybot hope that helped!

[2016-07-19 17:26] #29 closed

[2016-07-30 00:20] tranjustin opened #30 "Uncaught ReferenceError: NativeStorage is not defined, http://localhost:8100/lib/ionic/js/ioni c.bundle.js, Line: 17946"
I have tried the script in the body
<script type="text/javascript">
    angular.element(document).ready(function () {
      if (window.cordova) {
        console.log("Running in Cordova, will bootstrap AngularJS once 'deviceready' event fires.");
        document.addEventListener('deviceready', function () {
          console.log("Deviceready event has fired, bootstrapping AngularJS.");

[2016-08-03 04:45] GillesC commented on #30
Are you sure the plugin is correctly installed for iOS? Please retry to install the plugin again (by removing and adding it). If your using Ionic 2 please check the [official Ionic Native docs](http://ionicframework.com/docs/v2/native/native-storage/).

[2016-08-03 21:23] tranjustin commented on #30
I was able to get it working.  I am running into another issue.  I am trying to use this plugin to do persistent login.  However, the storage gets clear when the app is closed.

Justin Tran
Salt River Project
Software Engineer
Phone: 602-236-2131
Cell: 602-602-614-1799
Email: Justin.tran@srpnet.com<mailto:Justin.tran@srpnet.com>

From: Gilles Callebaut
Reply-To: TheCocoaProject/cordova-plugin-nati

[2016-08-03 21:27] GillesC commented on #30
@tranjustin are you sure the fault lies with the plugin?

- Are you storing the values correctly?

- Are you retrieving the values correctly (by using the same reference string AND the same method of storing, e.g. getItem only works when storing the value by means of setItem, getInt only with setInt,...) ?

[2016-08-03 21:28] alokrajiv commented on #30
@tranjustin  technically the storage shouldn't be cleared. Are you seeing any error on the console?

[2016-08-03 21:31] tranjustin commented on #30
I don’t believe it is the plugin.  I got it working on the browser but not on the devices or emulators.  To answer you Gilles, I am sure that I am storing and retrieving correctly from a browser perspective but don’t know what I might missed on the devices.

Justin Tran
Salt River Project
Software Engineer
Phone: 602-236-2131
Cell: 602-602-614-1799
Email: Justin.tran@srpnet.com<mailto:Justin.tran@

[2016-08-03 21:33] alokrajiv commented on #30
@tranjustin  by browser, do you mean the `browser platform`?

[2016-08-03 21:34] GillesC commented on #30
Can you please show us the code which should store and retrieve the values? And please do explain how you build, on the devices/browser?

And another 'question' can you please explain in this thread how you've solved the '`Uncaught referenceError`' for future cases? :)

[2016-08-04 00:23] tranjustin commented on #30
function loadUserCredentials() {
    return $q(function(resolve,reject){
        $log.log("load credential");
        var storedToken = $cordovaNativeStorage.getItem(LOCAL_TOKEN_KEY).then(function(value){
          $log.log("success load");
          $log.log(value);
        }, function(error){
          $log.log("error load");
          $log.log(error.message);
        });
        var authorizati

[2016-08-04 00:25] tranjustin commented on #30
I forgot to mention I solved the "Uncaught referenceError” by upgrading ngcordova and this is the script I put in the index.html
  <script type="text/javascript">
    angular.element(document).ready(function () {
      if (window.cordova) {
        console.log("Running in Cordova, will bootstrap AngularJS once 'deviceready' event fires.");
        document.addEventListener('deviceready', function

[2016-08-14 01:42] lovestoprogram opened #31 "Limit On String Size"
Is there a limit on how large an object/string can be for it to be successfully saved? Also, could error code 1 " native write failed" imply that the device is out of memory?

[2016-08-15 02:15] PierBover opened #32 "Is data persistent between app updates?"

[2016-08-15 02:16] PierBover opened #33 "What types of data can be stored?"
Is it possible to store an arrays, booleans, or JS objects?

The docs don't make that very clear.

[2016-08-15 02:19] PierBover commented on #33
I just found about the wiki...

https://github.com/TheCocoaProject/cordova-plugin-nativestorage/wiki

[2016-08-15 02:19] #33 closed

[2016-08-15 02:47] PierBover commented on #32
So according to the wiki the plugin uses `SharedPreferences` for Android and `NSUserDefaults` for iOS, so yes the data should persist until the user deletes the Cordova app.

[2016-08-15 02:47] #32 closed

[2016-08-15 05:22] alokrajiv commented on #32
@GillesC I think this a good question to be included in F.A.Q Thankyou @PierBover

[2016-08-15 10:06] GillesC commented on #32
@alokrajiv Indeed, I will open a F.A.Q. section and put all (including these received by mail) the recieved questions there. @PierBover thank you for the question, this will also be beneficial to other users.

[2016-08-15 10:09] GillesC commented on #33
In general, anything that can be stringified, can be stored when using `getItem` and `setItem`. You can also be more fine grained and store objects with type-specific methods, see [API prior to v2](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/wiki/Usage-API-(prior-to-v2.0.0)).

[2016-08-15 10:14] GillesC commented on #33
README has been updated with more info over the data types ([link](https://github.com/TheCocoaProject/cordova-plugin-nativestorage#supported_data_types)). Commit 743e79e9ec0acc122ca0117cc2d0f83addf2de4c

[2016-08-16 05:24] agarwalswapnil opened #34 "Why Async ?"
Thanks for writing this plugin.
For iOS, NSUserDefaults is synchronous.
Why are we using `$cordovaNativeStorage.getItem` and `$cordovaNativeStorage.setItem` with callback/promises ?
Won't it be synchronous ?

[2016-08-16 09:04] GillesC commented on #34
Why asynchonrous:
- Cordova makes all native operations work asynchronously with callbacks. See [this ](http://agiliq.com/blog/2012/09/dissecting-phonegaps-architecture/) 'old' blog about Cordova's architecture. The storage mechanisms may be synchrounous but calling and retrieving data from the 'native side' are asynchrounous.
- Values can be retrieved while other code is being executed
- Callback

[2016-08-16 09:16] GillesC commented on #31
Error code 1 implies that simply the native mechanisms were unable to perform a write to the disk.
I'm unable to give you a more specific answer because the docs of the native mechanisms are unclear about what could be wrong, possible because there are so many different things that could be wrong.

More over size limit see the [README](https://github.com/TheCocoaProject/cordova-plugin-nativestorag

[2016-08-16 09:46] agarwalswapnil commented on #34
Thanks. The library is very helpful.

[2016-08-16 09:46] #34 closed

[2016-08-17 00:13] lovestoprogram commented on #31
Thank you for your prompt and detailed response.

[2016-08-17 06:38] #31 closed

[2016-08-18 20:31] PierBover opened #35 "JSON_ERROR"
Hi

I'm having a weird error when retrieving some data with `NativeStorage.getItem()`.

The data is retrieved ok at first instance, but afterwards some millisenconds later the error callback is called with an error code 5.

When I log the data in Android it seems the json is cut, logcat doesn't show the whole JSON.

The data is less than 100KB...

Any idea what might be happening?

[2016-08-18 20:36] GillesC commented on #35
So you first get the item correct, without any errors. Thus from the success-callback?
And afterwards the error-callback is being invoked?

[2016-08-18 20:37] PierBover commented on #35
Yes

[2016-08-18 20:43] PierBover commented on #35
Is it possible the callback are triggered if I'm doing `NativeStorage.setItem(...)` somewhere else on my code?

[2016-08-18 20:43] GillesC commented on #35
As you can see [here](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/blob/master/www/mainHandle.js#L296-L315) in the code, the object is first parsed and if there isn't any exceptions the object is giving back via the success-callback.

Could you check the following:
- `error.source`  Is it "JS" or "Native"
- `error.exception`: That's the excpetion thrown by the JavaScript parser.

[2016-08-18 20:48] GillesC commented on #35
@PierBover No [that](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/issues/35#issuecomment-240850402) shouldn't be any problem.

[2016-08-19 19:37] PierBover commented on #35
Ok so here it goes...

This is the JS code that loads the data:

[code]
And this is what is reported by logcat with a bit of cleaning too.

[code]

[2016-08-19 19:38] PierBover commented on #35
I'm only storing native JS object with strings, array, booleans, and numbers. No custom object.

[2016-08-19 19:39] PierBover commented on #35
Oh, and there is no error when storing.

Here is the code that stores the data:
[code]

[2016-08-19 19:44] GillesC commented on #35
It sounds stupid, but have you tried reinstalling the plugin. By removing it first and installing it afterwards.

And it is strange there isn't an exception in the error object. Because I explicitly put the exception in the error object.

[2016-08-19 19:45] PierBover commented on #35
I forgot to paste the last line of the log... I've edited it.

It says:
[code]

[2016-08-19 19:47] alokrajiv commented on #35
Hi @PierBover , So cud u show the part of the code where you are accessing the `profesor` property.

[2016-08-19 20:54] PierBover commented on #35
It's super weird.

`profesor` is part of an object I'm importing with `import MyObject from 'MyObject'`.

When online I only use NativeStorage to save data and everything works fine.

When offline I read the local data from NativeStorage and then go on, but for some reason the import of `MyObject` isn't working. Hence the property `profesor` isn't available.

When offline I initialise my app on a

[2016-08-19 20:54] #35 closed

[2016-08-19 20:56] GillesC commented on #35
Glad it's not a bug of nativestorage. I hope you can solve the problem.

Have a nice day.

[2016-08-26 10:43] cwelk opened #36 "callbacks don't seem to work on iOS 10 beta 7"
First I wanted to thank you for the awesome plugin 😄

On iOS 10 (beta 7) the global NativeStorage Object is accessible, along with all documented methods. Unfortunately none of the callbacks get executed.

This example code works in iOS 9 but gives no output whatsoever (web Inspector, xcode console) in iOS 10:

`NativeStorage.setItem('sample', 'abc', function () {console.log(arguments)}, function

[2016-08-26 11:01] GillesC commented on #36
After my vacation, I will look into the matter. But be reassured that Android and iOS support is a priority for us. So, we will definitely plan on adding iOS 10 support. I will leave this issue open until the support is added.

[2016-08-31 08:35] kristfal commented on #36
@GillesC Confirming this. It seems like the plugin does not initialize on iOS10 Beta 8.

Also, this plugin fails to compile on Cordova iOS < 4.0.0

[2016-08-31 08:40] GillesC commented on #36
Thanks for the conformation. For compiling with Cordova ios < 4 see issue #29.

[2016-08-31 08:44] kristfal commented on #36
@GillesC Cheers, thanks for the tip – I was about to do that same Int conversion myself. Not to pressure you, but do you have any idea when you'll start looking at iOS 10 support?

I'm currently torn between waiting on you to fix this (which is preferable), or going for an alternative option such as webSQL (which is rather overkill for our needs) to make sure we can support iOS10 when it launches.

[2016-08-31 08:46] GillesC commented on #36
I'm currently on a holiday. But tomorrow I can take a look why the plugin isn't working in iOS 10. So by the end of this week the plugin should certainly work. When is iOS 10 be going officially released?

[2016-08-31 08:49] kristfal commented on #36
@GillesC Thanks a lot! I'll wait for you then 👍

The new iPhones will be announced on the 7th, and looking at how Apple handled this before, iOS10 GM is likely to be released for developers right before that date, with a public launch some time within a week after the 7th.

[2016-08-31 17:46] tranjustin commented on #30
Hey guys, by any chance you have run into this issue?  Whenever I shut the app down, the storage gets wiped out.  I thought this was being store in the keychain or keystore not localstorage.

Justin Tran
Salt River Project
Software Engineer
Phone: 602-236-2131
Cell: 602-602-614-1799
Email: Justin.tran@srpnet.com

From: Tran Justin T
Sent: Wednesday, August 03, 2016 5:25 PM
To: TheCocoaProject/cord

[2016-08-31 17:57] tranjustin opened #37 "Storage is not persistent after closing the app"
After I close the app down and re-open the app, the storage info is no longer existed.  I am currently testing on ios 9.3.3 and android 6.0.1.

[2016-08-31 18:18] tranjustin commented on #30
Fix by using

  <script type="text/javascript">
    angular.element(document).ready(function () {
      if (window.cordova) {
        console.log("Running in Cordova, will bootstrap AngularJS once 'deviceready' event fires.");
        document.addEventListener('deviceready', function () {
          console.log("Deviceready event has fired, bootstrapping AngularJS.");
          angular.bootstrap(do

[2016-08-31 18:18] #30 closed

[2016-08-31 21:03] alokrajiv commented on #37
Highly unlikely because in Android we use SharedPreference which is exactly for preventing this issue from occurring. It should work in all versions of Android uniformly as well.

Pls add your code so that we can replicate the issue. Run the demo and see if you still face the same issue.

[2016-08-31 21:23] GillesC commented on #36
In iOS the console plugin is needed to use the console. Could you include this plugin in your project and put the output here?

[2016-09-01 07:39] kristfal commented on #36
@GillesC Not quite sure I am following. The iOS console is working without the plugin. Also, this doesn't work either, so this doesn't seem like an issue with the console:

```NativeStorage.setItem('sample', 'abc', function () {alert(arguments)}, function () {alert(arguments)})```

[2016-09-01 07:43] GillesC commented on #36
I thought maybe the "_no output_" was because the console plugin wasn't installed, and therefore no output was printed.

[2016-09-01 07:44] kristfal commented on #36
@GillesC Ok, glad we sorted that out 👍  Let me know if you need any other information!

[2016-09-01 08:56] GillesC commented on #36
@kristfal before I dive in this mess, would you please try the solution presented in [this thread](http://stackoverflow.com/questions/38410159/cordova-app-hanging-during-startup-on-ios-10-beta)? If it works I don't need to go to the hashle of installing iOS 10 etc. :)

[2016-09-01 09:11] kristfal commented on #36
@GillesC That actually fixed it!

[2016-09-01 09:18] GillesC commented on #36
Haha that's just great!! :D Closing the issue now and setting this solution to the F.A.Q.

[2016-09-01 09:18] #36 closed

[2016-09-01 09:23] kristfal commented on #36
@GillesC Confirming that it is working as expected on iOS10. I must say, this plugin is now a godsend because iOS10 wipes LocalStorage on app exit. Thanks a lot for making it 👍

[2016-09-01 10:07] alokrajiv commented on #36
I think all tests are passing on the simulator.

[2016-09-05 14:15] alokrajiv commented on #36
@kristfal wud it be possible for you to list what exactly you did so, I cud include it in the faq for others?

[2016-09-05 14:21] kristfal commented on #36
@alokrajiv:

In your `index.html` that you are loading on app startup, add the following entries to your Content-Security-Policy meta tag:

 ``` <meta http-equiv="Content-Security-Policy" content="default-src gap://ready file:" />```

An example of a 'liberal' CSP which should enable pretty much all content (not really recommended) is:

 ```<meta http-equiv="Content-Security-Policy" content="defau

[2016-09-08 11:28] seeya commented on #37
I encountered this problem too. The problem for me was I kept clearing my cache with `window.cache.clear(null, null ); window.cache.cleartemp();` every time the application starts. After removing that 2 lines of codes it worked perfectly.

[2016-09-08 15:40] alokrajiv commented on #37
ohk...so you must be falling back to localstorage? because theoretically nativestorage will not be affected by the window object.

[2016-09-14 02:15] lovestoprogram opened #39 "Error in getting item"
So after trying to use get item I get this error

Error in Success callbackId: NativeStorage742808021 : TypeError: error is not a function on line 312 of cordova.js

and Uncaught TypeError: error is not a function on line 314 of cordova.js

Then if I use getItem again, it returns error code 5 and also has the same error on line 312 and 314 of cordova js.

Thank you for your time.

[2016-09-14 03:31] lovestoprogram commented on #39
Never mind. It was completely my fault and the issue is solved.

[2016-09-14 04:45] alokrajiv commented on #39
Thank you.

[2016-09-14 04:45] #39 closed

[2016-09-14 05:32] GillesC commented on #39
Hello,
Can you maybe post what was wrong and how you solved it? This for future
reference, for developers having the same problem?

On Wed, 14 Sep 2016, 06:45 Alok Rajiv, <notifications@github.com> wrote:

[2016-09-16 00:44] lovestoprogram commented on #39
Sure. Well I called a this.doSomethingFunction() inside the success callback for setting an item, and the value of this wasn't the object I meant it to be (I forgot about the rules of "this"), so it threw an error.
The interesting thing is that when I tried to get the data it triggered the error call 5.  I changed this.doSomethingFunction() to nameOfObjectThatMethodBelongsTo.doSomethingFunction()

[2016-09-27 15:54] PierBover commented on #37
@alokrajiv is there a way to know when the fallback to localstorage happens?

I'm getting numerous reports of users randomly losing their data.

[2016-09-27 15:56] GillesC commented on #37
@PierBover The following code is used to check if the application is running in the browser (i.e. initiating localstorage fallback):

[code]

[2016-09-27 15:57] PierBover commented on #37
But, in principle if it's running in Android or iOS localStorage would never be used, right?

[2016-09-27 15:57] GillesC commented on #37
@PierBover that should be indeed the case :)

[2016-09-27 15:58] PierBover commented on #37
Thanks, I'm trying to figure out what is going on with my users. I'll report any bugs if any...

[2016-09-27 17:09] PierBover opened #40 "inconsistent error on browser"
When getting an error on the `browser` platform, the result is an integer (or maybe a string) instead of a `NativeStorageError`.

[2016-09-27 17:22] GillesC commented on #40
You were indeed correct.  [This commit](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/commit/4dcb5565f5229fa1527e0c39ee1e472d9e518ff3) should fixed it.

[2016-09-27 17:57] PierBover commented on #40
Wow you guys are fast!

[2016-09-27 17:57] #40 closed

[2016-09-27 18:06] GillesC commented on #40
I'm training to become as fast as the Flash! ;)

[2016-09-29 16:26] pitAlex opened #41 "Issue with plugin version"
Hi,
There is something strange happening with the plugin version. I use cordova-check-plugins which returns that the latest version of this plugin is 2.1.0. I also see this version being reported in the npm site however everytime I run cordova plugin add cordova-plugin-nativestorage and then cordova plugin list, the version of it is 2.0.2.

[2016-09-29 16:32] GillesC commented on #41
Thanks, a version number in one of the files was indeed not updated. :)

[2016-09-29 16:32] #41 closed

[2016-09-29 16:35] GillesC commented on #41
Please reinstall the plugin ([see reinstalling the dev version](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/blob/master/README.md#reinstallinginstalling-developer-version))

[2016-10-04 09:11] kristfal commented on #37
I am also experiencing random data losses on app restarts. It is probably a race condition issue as it occurs randomly on app restarts with the -js code staying the same on my end. The issue seems to be isolated to iOS on my situation.

My findings so far are:

Calling NativeStorage.getItem in the same app session when I've lost data does not return any callbacks.

Eg:

`NativeStorage.getItem("ref

[2016-10-11 16:55] bromeostasis opened #42 "Can't set item while in NativeStorage callback"
Please let me know if this is intended behavior, but I didn't see any docs. I want to get the result of an item, and then set different items based on that value. Here's the code I'm using:

[code]

 Every time I do this, I get this error from setting the item:

[code]
[code]

Happy to elaborate more if necessary, but I can't use this plugin without this being handled.

[2016-10-12 08:23] GillesC commented on #42
Meaning of the error codes: https://github.com/TheCocoaProject/cordova-plugin-nativestorage#error-codes

This means the value that is retrieved is not in a JSON-format and could therefore not be parsed. So print out your `data.first_id`. because that value could not be converted to a JSON object. So you check the reason why `JSON.parse` throws an error.

[2016-10-12 14:35] bromeostasis commented on #42
@GillesC thanks for the response! I did a bit more logging, and it seems that data.first_id is a number, which should be parseable. More logs:

[code]

Again, let me know if this makes sense/what additional info I can provide!

[2016-10-12 16:34] GillesC commented on #42
`message: "null is not a function (evaluating 'success(obj)')"` is because you haven't implemented a success-callback function. Try this. Maybe this will also solve the JSON fault.

So after addition of success-callback:
[code]

[2016-10-12 17:44] GillesC commented on #42
I think I will be solved by the proposed method above, i.e. addition of success-callback function.
If you look at the code in the plugin you could see that there is a try catch around the parsing and calling of the success-callback. So an error occurs because of the success-callback but the code (plugin) things it is a JSON parse error.

Internal code:
[code]

[2016-10-13 18:41] bromeostasis commented on #42
@GillesC I've had to move on to some other work, but I'll try this out and report back. What you're saying makes sense and thanks for your help!

[2016-10-19 18:19] jcleyba commented on #36
Will this work for Ionic 2? Adding this to index.html does not fix the issue.

[2016-10-20 06:59] hangtoo opened #43 "when use nativestorage in ionic2, and compile for android,show " java.lang.NoClassDefFoundError: NativeStorage",put the NativeStorage.java to a package fix it."
10-20 14:55:55.890  31013-31013/com W/System.err﹕ Caused by: java.lang.NoClassDefFoundError: NativeStorage
10-20 14:55:55.890  31013-31013/com W/System.err﹕ ... 18 more
10-20 14:55:55.890  31013-31013/com W/System.err﹕ Caused by: java.lang.ClassNotFoundException: NativeStorage
10-20 14:55:55.890  31013-31013/com W/System.err﹕ at dalvik.system.BaseDexClassLoader.findClass(BaseDexClassLoader.java:61

[2016-10-22 12:16] GillesC commented on #43
Are you certain you have followed the correct procedures for installing the plugin in Ionic 2?
(http://ionicframework.com/docs/v2/native/)

[2016-10-26 13:12] danielcrk-cn commented on #37
Guys, i've just discovered a really dumb misstake I was doing that caused my app to "lose data".

My data loading function was happening outside the platform.ready() event. Now, by pure luck, the plugin was loaded in time most of app launches, but sometimes, the data loading attempt was executed before the plugins were loaded and the app ended up with no data.

So for the end user, this obviously

[2016-10-26 13:20] alokrajiv commented on #37
@danielcrk-cn So now you are not facing any issues, correct? Because it is strange that in 2months we haven't figured the problem? Are others still facing the issue?

[2016-10-26 13:21] GillesC commented on #37
I'm closing this issue because the fault (probably) lies with the plugin-user.

[2016-10-26 13:21] #37 closed

[2016-10-26 13:21] alokrajiv commented on #43
@hangtoo Any update?

[2016-10-26 13:22] danielcrk-cn commented on #37
@alokrajiv I've just made the fix so I'll have to give it a few days, but I'm quite sure that this was the root cause of the problem - it makes perfect sense.

If I notice this issue again despite the fix, I'll open a new issue here.

Thanks for this great plugin!

[2016-10-26 13:24] alokrajiv commented on #37
@danielcrk-cn Fantastic!! Don't open another issue though, just comment and we'll reopen this one. If someone else still faces the issue, please comment.

[2016-10-26 13:32] GillesC commented on #42
@bromeostasis any progress?

[2016-10-26 15:39] bromeostasis commented on #42
@GillesC oof, still haven't had time to try this out. If you'd like, you can close the issue and I'll reopen it if I encounter any problems on trying it out.

Thanks for your help!

[2016-10-26 17:42] #42 closed

[2016-11-01 17:57] chrisbenseler opened #44 "Possibility to use add browser environment support?"
I am currently using LocalStorage in an Ionic 2 app and was planning to use NativeStorage instead.
But the plugin does not work in the browser, so the development broke up using ionic serve and I guess it won't work too if I try to use my app as a "progressive web app".

Is it any plan to add support for the browser environment, maybe using as a layer above the browser localstorage? Does it make a

[2016-11-01 17:59] GillesC commented on #44
The browser platform is supported. And it is indeed implementeren as a
layer on top of localstorage.

On Tue, 1 Nov 2016, 18:57 Christian Benseler, <notifications@github.com>
wrote:

[2016-11-02 04:56] danielmeng07 commented on #44
@chrisbenseler It does work in browser. Make sure your code is not in callback format, but wrapped in
[code]
^ I missed this the first time around.

According to the docs, you'll need `$scope.$apply()` if you're updating the scope.

[2016-11-02 08:03] GillesC commented on #43
I'm closing this issue, because

1. I think the fault lies with the developer, not the plugin.
2. No more information is given by the issuer.

[2016-11-02 08:03] #43 closed

[2016-11-02 08:07] GillesC commented on #44
I'm closing this issue because the browser platform is supported see [the plain-JS docs](https://github.com/TheCocoaProject/cordova-plugin-nativestorage#supported_platforms) or see [the Ionic 2 ](http://ionicframework.com/docs/v2/native/nativestorage/ ) docs for the usage of the plugin.

[2016-11-02 08:07] #44 closed

[2016-11-02 09:37] danielmeng07 opened #45 "$cordovaNativeStorage.clear is not a function"
Error when calling `NativeStorage.clear`:

`Uncaught TypeError: $cordovaNativeStorage.clear is not a function`

[code]

[2016-11-02 09:43] dmr07 opened #46 "error.code undefined"
Sorry to be nuisance, but I was hoping to do an insert when no object is found through the error.code API you provided in your documentation.

It's however returning me a string. Will there be a future update to make this available by any chance?

[2016-11-02 10:17] GillesC commented on #46
Could you please provide the platform where this inconsistency resides?

On Wed, 2 Nov 2016, 10:43 Daniel Meng, <notifications@github.com> wrote:

[2016-11-02 12:11] GillesC commented on #45
This issue should be placed in the correct repo, i.e. [ngcordova-wrapper-nativestorage](https://github.com/TheCocoaProject/ngcordova-wrapper-nativestorage).

As the docs state, the `clear` function is not yet implemented. But I've merged a PR with a `clear` function so the current repo should now provide a proper  `clear` function. So please reinstall the wrapper.
REMARK: The docs need to be updat

[2016-11-02 21:12] PrimarDarren opened #47 "duplicate JSON.parse means getItem with LocalStorage handler tries to parse an object not a string"
Anonymous function within storageHandlerDelegate within StorageHandle.prototype.getItem does JSON.parse but LocalStorage get operation also does JSON.parse.

[2016-11-02 21:26] #47 closed

[2016-11-02 22:02] danielmeng07 commented on #46
Ionic v1.3.1
Chrome v54.0.2840.71
Mac OS v10.12.1

I have not tested this on the emulator or the phone. Strictly in browser.

[2016-11-02 22:06] danielmeng07 commented on #45
Oops, didn't see that. My mistake.

[2016-11-02 22:48] GillesC commented on #45
Hope the PR (pull request) solved your issue.

On Wed, 2 Nov 2016, 23:06 Daniel Meng, <notifications@github.com> wrote:

[2016-11-03 08:07] anwserman commented on #46
This is happening with the Browser too, on Windows 10/Chrome.

`mainHandle.js:87 Uncaught TypeError: error is not a function(…)
StorageHandle.set @ mainHandle.js:87
(anonymous function) @ VM65:34
dispatch @ jquery-3.1.1.min.js:3
q.handle @ jquery-3.1.1.min.js:3`

[2016-11-03 08:11] GillesC commented on #46
@anwserman  Are you also getting a "error.code undefined" error. Otherwise, please open a new issue [here](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/issues). Or see [this issue](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/issues/45) which has had the same error. And comment there, if suited for your problem.

[2016-11-03 08:12] GillesC commented on #46
@danielmeng07 Thank you for the information. I will look into it, when I've got same time.

[2016-11-03 08:19] anwserman opened #48 "Uncaught TypeError: error is not a function"
Hey,

Using Cordova on Windows 10/Browser.  Getting a "Uncaught TypeError: error is not a function" error at mainHandle.js:87.

The line throwing the error is:
 error("The type isn't supported or isn't been recognized");

I'm using Windows 10, Chrome 54, JQuery 3.1.1, Cordova 6.3.1, Android 5.2.2, Browser 4.1.0

Adding a generic
`function error(e) { console.log(e); }`
doesn't work :/

[2016-11-03 08:22] GillesC commented on #48
@anwserman Please provide the code you're using where the error is thrown. And maybe put some more information on the object your trying to save. Check for instance its type (via `typeof`).

[2016-11-03 09:26] chrisbenseler commented on #44
Hi!

I tried using the example from the Ionic 2 docs (same link @GillesC provided) but the browser outputs these warning and error:

main.js:224 Native: tried calling NativeStorage.setItem, but Cordova is not available. Make sure to include cordova.js or run in a device/simulator
main.js:76063 Error storing item cordova_not_available

Am I missing something? Do I have to manually add the cordova.j

[2016-11-03 10:03] GillesC commented on #44
@chrisbender I think the question is not related to a nativestorage bug. So it would be better to post your question on StackOverflow, with our tag and that from ionic 2. Provide a link to the SO post after you have posted your question to SO.

[2016-11-03 10:21] chrisbenseler commented on #44
Thanks @GillesC
Here is the link: http://stackoverflow.com/questions/40399008/ionic-2-use-nativestorage-in-the-browser

I'll try to find help in the Ionic 2 official forum, too!

[2016-11-03 20:15] GillesC commented on #48
@anwserman I think you problem can be simular to [this issue](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/issues/42).

[2016-11-03 20:27] GillesC commented on #47
Please provide some more information on why you have closed this issue. So this wouldn't be confusing when read in the future. Just be correct ;)

[2016-11-08 21:24] daniel82hien opened #49 "Put getItem inner another function"
Hey,

I want to add it inner another function. Because I call getItem many time in my project.  Sample my code as (I use angularjs and phonegap):
$rootScope.getCookie = function (_name) {
    $cordovaNativeStorage.getItem(_name).then(function (value) {
       console.log('statement 1');
    });
}
var globals = $rootScope.getCookie('globals');
console.log('statement 2');
=> result on firebug's cons

[2016-11-09 13:39] GillesC commented on #49
I think the question is not related to a nativestorage bug. So it would be better to post your question on StackOverflow, with our tag. Provide a link to the SO post after you have posted your question to SO.

[2016-11-09 13:40] #49 closed

[2016-11-14 13:25] tdesc opened #50 "Help with android SharedPreferences."
Hello,
I need to read string variable from javascript code, which I need to set from android Native code.
`
         public static final String PREFS_NAME = "NativeStorage";
         public static final String REFFERER = "refferer";

         SharedPreferences mPrefs = context.getSharedPreferences(PREFS_NAME, Context.MODE_PRIVATE);

          Editor edit = mPrefs.edit();
    	  edit.putString(REFF

[2016-11-14 14:20] tdesc commented on #50
with context.getSharedPreferences(PREFS_NAME, Context.MODE_PRIVATE) in both NativeStorage and my java code fix this issue.

[2016-11-14 14:20] #50 closed

[2016-11-14 16:24] GillesC commented on #50
1. Coding issues should be asked on Stackoverflow, with [our tag](http://stackoverflow.com/questions/tagged/cordova-nativestorage).
2. This issue was also discussed in [this thread](http://stackoverflow.com/questions/25657749/cordova-plugin-expose-js-variable-android-cardflight/39331899#39331899). And you don't need to change any code in the plugin.
3. Changing the plugin's code is not really good

[2016-11-18 10:43] #45 closed

[2016-11-18 11:05] GillesC commented on #29
[This fork](https://github.com/GillesC/cordova-plugin-nativestorage-3.9.2-compatible) will be updated to contain all the latest functionality, including Cordova iOS <4 support.

[2016-11-25 17:14] Marvin256 commented on #48
Hello

I'm having the same issue. Any workaround?

[2016-11-25 17:20] GillesC commented on #48
Hello Marvin, have you seen my comment above yours? There I reference another issue, which I think is the same one as you're experiencing. And please provide more info. I'm unable to provide aid when I've nothing (or almost nothing) to work with.

[2016-11-25 20:06] Marvin256 commented on #48
Hey Gilles

Thanks for your answer. Yes I've seen the other issue but didn't found any answer to the problem.
Here's a part of the code generating the issue:

[code]
As you can see it's almost a copy&paste from your exemple.
I didn't find any detailed documentation about your plugin so I'm little confuse with your code.
I'm compiling on Phongap Build.

Thank you a lot for your help.

Regards

[2016-11-25 20:48] Marvin256 commented on #48
mmm, I'm trying to understand your code but something looks weird to me. Can I use getItem & setItem with a string?
Is there public methods like getString & setString?
Do you have any documentation?

[2016-11-26 15:39] GillesC commented on #48
@Marvin256

Via the getItem you can store any object or data type that can be parsed via JSON. Hence, storing strings isn't a problem. If you are more familiar with compiled languages such as Java or C, look at the type-based storage API (< v2.0) [here](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/wiki/Usage-API-(prior-to-v2.0.0)). BTW as described in the README: more documentat

[2016-11-27 20:38] appzer opened #51 "Failed to install"
Hello,

i get the following error, when i install the plugin, what can i do?

[code]

Kevin

[2016-11-27 20:43] GillesC commented on #51
Hello

It seems to be an issue with the Android SDK and not the plugin. See [this issue](https://github.com/phonegap/phonegap-plugin-push/issues/141) for more information on your error.

[2016-11-28 18:10] appzer commented on #51
Hello,

i added the plugin manually, now it works

Kevin

[2016-11-28 18:10] #51 closed

[2016-11-28 18:14] appzer opened #52 "GetNativeStorage from Java"
Hello,

can someone help me!
I save some data with this plugin. Now i want to read out the data from Java.
I created a widget and want use the stored data!

This ist the widget java source:

[code]

This code do nothing

[code]

native-messages = is the stored var

Thanks
kevin

[2016-11-28 18:41] GillesC commented on #52
Hey Kevin

First of all, this kind of questions are better suited on StackOverflow. Consider using our tag (cordova-nativestorage) when posting questions related to our plugin.

Second, have you read [our documentation](https://github.com/TheCocoaProject/cordova-plugin-nativestorage#faq)? There I've provided a link to a question which is the same is you're asking now.

So if you will inspect the c

[2016-11-28 18:44] GillesC opened #53 "Access stored values in Android"
Variables can be accessed in Android by using the `getString` method provided by `SharedPreferences`. If NativeStorage API is used prior to v2.0 you need to use `getBoolean`, `getString`, `getDouble`,... corresponding to the variable type you have stored in JavaScript.

An Android snippet can be found here:
[code]

It is imported that you use `"NativeStorage"` as the name of the preferences.

Ques

[2016-11-28 18:54] #53 closed

[2016-11-29 16:35] shaifd opened #54 "Consistent storage growth using NativeStorage on iOS with no apparent reason"
We converted our app from using localStorage to using native-storage after hearing from users with low-memory devices. Everything works well, function-wise, but we have noticed that there is a consistent storage increase every time we log into the app - for no apparent reason (iOS 10.1.1 iPhone 6S). We noticed about 1MB of storage for every login operation. During the login our app reads all the d

[2016-11-29 17:02] GillesC commented on #54
Hello @shaifd are you talking about high disk usage or memory (RAM) usage? For the remainder of my answers I will make a distinction between storage to the disk and memory. The latter, memory, is used when talking about RAM.

Extra information on the used native storage mechanisms:
These mechanisms are loaded in memory in a initial phase. However, the documentation --of these mechanisms- don't sta

[2016-11-29 17:07] gigocabrera opened #55 "Supplied parameters do not match any signature of call target"
I have an ionic2 app with NativeStorage plugin and I'm following the instructions for storing values as shown below. However, I get a Typescript error and it won't let me build the app

`import { NativeStorage } from 'ionic-native';`

[code]

**Error**

[code]

**Details**

Cordova CLI: 6.4.0
Ionic Framework Version: 2.0.0-rc.3
Ionic CLI Version: 2.1.13
Ionic App Lib Version: 2.1.7
Ionic App Scrip

[2016-11-29 17:09] GillesC commented on #55
You should use the Ionic2 API which is described [here](http://ionicframework.com/docs/v2/native/nativestorage/).

[2016-11-29 17:42] shaifd commented on #54
Thanks for the prompt response - I really appreciate it!
Our app data is very small - no more than 1MB. But in the iPhone uder  Settings > General > Storage & iCloud Usage > Manage Storage > the app, we see "Documents & Data" of more than 160MB and growing with each login since we started to use the NativeStorage plugin. Before this we used the localStorage and did not experience such issue. As fa

[2016-11-29 18:06] GillesC commented on #54
The only resources used by our plugin is the resources needed for the NSUserDefaults and SharedPreferences mechanisms. The increase in disk storage could also be caused by the usage of the Cordova framework related to plugins. However, this is just a guess. So maybe extra resources are allocated when using plugins, instead on relying on only the WebView of the platforms.

You should look at the ap

[2016-11-30 01:10] gigocabrera commented on #55
@GillesC thank you for pointing that out. It's working as expected now. My bad :stuck_out_tongue_winking_eye:

[2016-11-30 01:10] #55 closed

[2016-12-13 11:48] alexfoxy opened #56 "Get all keys for items in storage?"
I'm storing a bunch of saved projects on an app I'm working on. When the user boots up I want to get all of their projects and list them. Previously I was saving the projects as JSON (stringified) to localStorage and pulling them out when the app booted up e.g:
[code]
I can't see a way to do something similar with NativeStorage. Would you suggest keeping an index in storage e.g. "project_ids" inst

[2016-12-13 12:03] GillesC commented on #56
If your always retrieving all the projects you could just store these projects in an array. Which can also be stored via NativeStorage.

[2016-12-26 14:00] pankajdx48 commented on #13
what my understanding is require is node js methode how i can integrate node js code in ionic

[2016-12-26 14:12] GillesC commented on #13
@pankajdx48 check out [our documentation for using Ionic and other platforms](https://github.com/TheCocoaProject/cordova-plugin-nativestorage#supported_frameworks).

[2016-12-27 15:07] Maziar-Fotouhi opened #57 "Android Entries Not Cleared"
I've noticed that recently the _NativeStorage_ entries are not being cleared after uninstalling the app. Looking at the [NativeStorage github](https://github.com/TheCocoaProject/cordova-plugin-nativestorage), it seems like android is using `Sharedpreferences`.

I googled [similar issues](http://stackoverflow.com/questions/35517239/sharedpreferences-are-not-being-cleared-when-i-uninstall) and it se

[2016-12-27 15:12] GillesC commented on #57
I don't think this is an issue, because we haven't stated in the docs that
the entries are not backed up. However, this could be added to the
documentation, that android can backup the data --by default.

On Tue, 27 Dec 2016, 16:07 Maziar Fotouhi, <notifications@github.com> wrote:

[2016-12-27 15:17] Maziar-Fotouhi commented on #57
@GillesC Thanks for the quick reply. The first FAQ entry in the docs actually implies something like that, when it says that "the data should be persistent until the app is deleted from the device.":

![image](https://cloud.githubusercontent.com/assets/12825530/21502405/1dd4af6c-cc15-11e6-8876-1c7975bf03a2.png)

[2016-12-27 15:59] GillesC commented on #57
That sentence implies that persistence is ensured till uninstalling the app. It, however, does not say anything about maintaining persistence (or not) after uninstalling/reinstalling.

[2016-12-27 16:02] GillesC commented on #57
But to avoid any further misunderstanding, I'll update the docs with your remark. Thank you for your contribution!

[2016-12-27 16:20] Maziar-Fotouhi commented on #57
Thank you so much.

[2016-12-27 16:20] #57 closed

[2017-01-10 07:32] ydeshayes opened #59 "Calling clear() make the application crash on ios"
Hello,

My app crash when I call clear().

Iphone SE simulator, ios 10.2, cordova 6.4.0

My JS code:
[code]

The stack:
[code]

Thanks for your help

[2017-01-13 06:32] JimmyChung1991 opened #60 "SyntaxError: Unexpected token when I call NativeStorage.getItem"
Hi,
 private void cordovaPreference() {
//        Log.i("jimmy","url"+url);

        SharedPreferences mySharedPreferences = getSharedPreferences(PREFS_NAME, Activity.MODE_WORLD_READABLE);

        SharedPreferences.Editor editor = mySharedPreferences.edit();
        editor.putString("reference", "12342345fasdfaf");

        editor.commit();
    }
I store the reference in android
Then I get it fro

[2017-01-13 08:39] GillesC commented on #60
So you've tried to save a value in Android via `putString` and retrieve it via `getItem` in JS.
I hope you've followed my 'instructions' [here](https://github.com/TheCocoaProject/cordova-plugin-nativestorage#faq)?

What works (?):
- Saving (and retrieving) a string containing only numerical values

What doesn't work (?):
- Saving (and retrieving) a string containing only non-numerical values

To b

[2017-01-13 12:54] ferdelcorro opened #62 "Is secure?"
Can i save the username and password with this DB ? Can others apps  see the user data ?

[2017-01-13 13:01] GillesC commented on #62
I've added a [Security section](https://github.com/TheCocoaProject/cordova-plugin-nativestorage#security) to the readme.

[2017-01-13 13:01] #62 closed

[2017-01-17 06:41] JimmyChung1991 commented on #60
solved it Thanks,bro

[2017-01-17 07:59] GillesC commented on #60
I'm glad it works now! Please consider explaining what the problem was, and how you solved it. This can come in handy for people with the same problems.

[2017-01-17 07:59] #60 closed

[2017-01-17 08:39] GillesC commented on #59
- Are your sure the error is related to the clear method?
- And maybe test your application on a real device?

[2017-01-17 16:07] doxavore commented on #59
I'm not getting a crash, but I'm catching this JS error when I call `NativeStorage.clear()` with cordova@6.4.0, cordova-ios@4.3.1, and cordova-plugin-nativestorage@2.2.0 and 2.1.0. Reproduces for me on the device and simulator at iOS 10.2.

[code]

It's not clear to me how what this plugin is doing today doesn't match the format it's suggesting, though.

[2017-02-02 09:24] GillesC commented on #59
Thank you for the log information, I will take a look at it.

[2017-02-02 12:24] GillesC commented on #59
@doxavore can you post a snipset of your code where the error is thrown?
Please be certain to use function in a correct manner:
[code]

[2017-02-06 00:41] s4msagaz opened #63 "cant install it, get following error."
Error: Unexpected string in JSON at position 1882

[2017-02-06 00:47] s4msagaz commented on #63
was my fault

[2017-02-06 00:47] #63 closed

[2017-02-08 14:00] mitopalov opened #64 "implement storage provider"

[2017-02-08 14:01] #64 closed

[2017-02-18 09:31] GillesC commented on #56
This feature is now implemented by @ydeshayes (through PR #61)

[2017-02-18 09:31] #56 closed

[2017-02-18 09:35] #52 closed

[2017-02-18 11:41] alexfoxy commented on #56
Great, I did it the way you suggested any way but this will be useful in the future 👍

[2017-02-20 10:20] alexfoxy opened #65 "NativeStorageError code on browser is another NativeStorageError not an Integer as expected"
Hey,

I upgraded from 2.0.2 to the latest version 2.2.1 and I'm encountering a problem in the browser. When I get an error (e.g. not found) the error looks like:
<img width="263" alt="screen shot 2017-02-20 at 10 19 20" src="https://cloud.githubusercontent.com/assets/151772/23120884/15771bae-f756-11e6-81a9-785a408d2d32.png">

Previously the error code would be an Integer. From what I can see in th

[2017-02-21 19:11] NoNameProvided opened #66 "Implement Web fallback when cordova is not available"
Now if cordova is not available the plugin throws the `plugin_not_installed` error.

Since this plugin has a small API, it would be easy to add a proper web fallback for browsers:

[code]

Note: This implementation is Promise based as I use Ionic-Native, but its pretty straight forward to make  rewrite it into callbacks.

[2017-02-21 19:22] GillesC commented on #66
I'm not familiar with promises in native JS. Is this native JS?
If so, please make u pull request and I'l be happy to merge it.

Thanks

[2017-02-21 19:30] NoNameProvided commented on #66
Here is an implementation with callbacks:

[code]

Okay, I will test it and make one

[2017-02-22 17:46] alokrajiv commented on #59
@doxavore Can you please post the exact usage of `.clear()` function from your codebase.
The `Error: The old format of this exec call` message is dumped to log usually when we call the exec function with wrong parameter depth.

[2017-02-22 21:01] NoNameProvided commented on #66
Hmm, just did a quick look on the source code and it seems it already has local storage as a fallback. So maybe the Ionic Native wrapper messes up something, I will give it a proper look later (probably on the weekend)

[2017-02-26 08:29] alokrajiv commented on #66
@NoNameProvided @GillesC  Sorry, for the late reply.

What I had done was there is a delegate that falls back to `localstorage` based on the [`storageSupportAnalyse`](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/blob/master/www/mainHandle.js#L10-L23) function's response to [`StorageHandle`](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/blob/master/www/mainHandl

[2017-02-26 08:29] #66 closed

[2017-02-26 08:30] alokrajiv commented on #66
Let us reopen, if there is something we can work on here though. I'm closing for now. Thanks!

[2017-02-27 09:43] theunreal opened #67 "Nativestorage.getItem() error"
When I'm trying to use `NativeStorage.getItem()` method, I get error code 2.
Why is that? It worked before.

[2017-02-28 13:29] alokrajiv commented on #67
Error code 2 is `ITEM_NOT_FOUND`.

_Please consider posting your question on Stackoverflow. And add our own tag, [cordova-nativestorage](http://stackoverflow.com/tags/cordova-nativestorage) if your not sure its an issue of the plugin itself._

[2017-02-28 13:30] #67 closed

[2017-03-08 15:50] pataar opened #69 "Problem with Android 5.0.1 and iOS 9"
Thank you for this plugin, works great. There is a small issue on some platforms though.
I'm getting an error on both iOS 9 and Android 5.0.1 concerning the LocalStorageHandle.

I've attached screenshots to show where it goes wrong. Do you have any idea how to solve these?

**iOS 9**
![screen shot 2017-03-08 at 16 43 53](https://cloud.githubusercontent.com/assets/3403851/23711131/4281175a-041f-11e

[2017-03-08 15:56] GillesC commented on #69
Hello

This should be solved in PR #68.
This version is, however, not yet published to NPM.

Therefore, please [reinstall the developement version of the plugin](https://github.com/TheCocoaProject/cordova-plugin-nativestorage#reinstallinginstalling-developer-version).

If the issue is resolved, please consider closing the issue.

[2017-03-09 10:33] pataar commented on #69
Hello Gilles,

Thanks, I'll look forward to the release.

[2017-03-09 15:17] Dj1b opened #70 "NativeStorage not responding on iPhone/Android using PhoneGap"
Hello,

NativeStorage is not responding on iPhone and Android using PhoneGap, but it works well on browsers.

I simply tried to execute the demo on an iPhone using PhoneGap.

PhoneGap is running last version on Mac OS X 10.11.6,
PhoneGap app is also running last version on iPhone 6S iOS 10.2 and Android 5.1
Installed NativeStorage version is dev, installed today.

Simply executing the "NativeStora

[2017-03-14 11:32] NoNameProvided opened #71 "Storage is not cleared when calling .clear() and then reinstalling the app"
I know the persistent nature of NativeStorage and the fact that data persist between app reinstalls. But it seems `NativeStorage.clear()` doesn't work when we reinstall the app after it. (Tested on Android, don't know if iOS is affected as well.)

Lets say we save a token for auth:
[code]

Then we restart the app and do

[code]

After clearing the NativeStorage we reinstall the very same app and r

[2017-03-14 18:49] GillesC commented on #71
Hello,

Thank you for using my plugin.
I think this problem is related to the back-up mechanism used in Android, see [this](https://github.com/TheCocoaProject/cordova-plugin-nativestorage#faq).

I'll look further into this matter, and keep this issue open.

[2017-03-14 19:01] GillesC commented on #71
For now I suggest using to set `android:allowBackup=false` in the application tag of the `AndroidManifest.xml`

[2017-03-14 19:02] GillesC commented on #69
Any news on your problem? Is it resolved?

[2017-03-14 22:13] NoNameProvided commented on #71
I know about the `android:allowBackup=false` trick, but I have reported this because of the difference behaviour between using `clear` and the `remove` methods. It seems `remove` does trigger an immediate sync while calling `clear` does not.

A quick & ugly fix could be replacing the clear call in the JS side with a get keys + remove foreach call:

[code]

But this will need testing. (I just wrote

[2017-03-17 09:00] pataar commented on #69
Sorry for my late reaction. Tested it, and it seems to work. Thanks!

[2017-03-17 09:00] #69 closed

[2017-03-17 12:35] henkverschoor1994 opened #72 "Block-scoped declarations not yet supported outside strict mode"
When I run this plugin in my Ionic 2 app, I got this error:
`plugins/cordova-plugin-nativestorage/www/LocalStorageHandle.js:37 Uncaught SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode`

I am using this version:  `cordova-plugin-nativestorage 2.2.1 "NativeStorage"`

Can you fix this?

[2017-03-17 12:41] GillesC commented on #72
Hello,

Please see issue #69 and PR #68.

[2017-03-17 12:41] #72 closed

[2017-03-17 12:49] henkverschoor1994 commented on #72
Thank you! But when will it come to the stable version?

[2017-03-17 12:49] GillesC commented on #72
As soon as possible :)

[2017-03-24 20:38] davidofwatkins opened #73 "NATIVE_WRITE_FAILED Error on Windows 10"
On Windows 10 (Surface Pro), I'm getting a `NATIVE_WRITE_FAILED` error from the following code:

[code]

In the "Output" tab of Visual Studio, I see the following when I run this:

[code]

I don't have much experience developing for Windows, but I see that NativeStorage is saving to `Windows.Security.Credentials.PasswordVault()` on Windows (see #38), which seems too limited to me. Is this expected

[2017-03-27 16:07] dualcyclone opened #74 "Error messages for getItem and setItem are inconsistent"
```getItem``` and ```setItem``` have inconsistent error responses given the other methods.

Eg: in the ```remove``` method, if the reference is null, the error response maps as follows:

```pluginResult = [CDVPluginResult resultWithStatus: CDVCommandStatus_ERROR messageAsString:@"Reference was null"];```

However, in both of the methods suggested, the error response is:

```pluginResult = [CDVPlug

[2017-03-27 16:08] dualcyclone commented on #74
It's worth noting, the other messages in both of these methods are also inconsistent, and should also map accordingly with the appropriate messaging strategy as with the other methods

[2017-03-28 13:03] GillesC commented on #69
Published to NPM

[2017-04-26 16:16] Maziar-Fotouhi commented on #59
I am also getting `__25-[NativeStorage+setItem:]_block_invoke` in my iOS crashes and it definitely is not from **clear** method.
I guess this happens when you try to use **setItem** method when **DeviceReady has not fired yet**.
This is only happening on **iOS** and **not android**.

[2017-05-11 18:32] ccorcos opened #78 "TypeError: undefined is not an object (evaluating 'keysArr.length')"
Jogging things out.

[code]

Seems like an internal error.

[code]

[2017-05-11 18:35] ccorcos commented on #78
Wait, I think this is an issue with lru-storage https://github.com/yahoo/storage-lru

[2017-05-11 18:35] #78 closed

[2017-05-23 10:09] Lechevallier opened #79 "Extend the plugin - addObserver"
Hi,

Thanks for this plugin, it's really usefull.
I'm trying to **implement the plugin** to add an observer to some keys.
I'm testing on the demo project, but it seems that **my function is never called**.

**Which files should I edit** when adding a new function?
I'm editing files under the following location `demo/plugins/cordova-plugin-nativestorage`
I added my function in `src/ios/NativeStorag

[2017-05-23 11:57] GillesC commented on #79
Hello

It seems that you have edited the right files (for the iOS part).
The problem with logging in iOS is often solved by using the console plugin:
`cordova plugin add cordova-plugin-console`

Are the functions correclty invoked in JavaScript?

[2017-05-23 12:10] Lechevallier commented on #79
I build my project in the console (`cordova build ios`) but I run the project with XCode, so I can directly see the logs.

I tried to use the XCode debugger but its a mess.

I'm sure that the program run into the function where I called

But then no alert are displayed, as this does:

[2017-05-23 14:11] Lechevallier commented on #79
I fixed it, I was not editing the right file.
Instead of this one `demo/plugins/cordova-plugin-nativestorage/www/mainHandle.js` edit this one `demo/platforms/ios/www/plugins/cordova-plugin-nativestorage/www/mainHandle.js`, at least for testing.

[2017-05-24 08:28] GillesC commented on #79
Glad it worked!

[2017-05-24 08:28] #79 closed

[2017-05-24 11:09] DavidStrausz opened #80 "Add support for NSUserDefaults for app groups"
Feature request:
I'd like to use this plugin to save user defaults for an app group and for later use in a today widget extension. Please let me know if this is possible somewhere in the near future or if I have to use [this](https://github.com/protonet/cordova-plugin-nsuserdefaults-for-app-groups) unmaintained plugin or a custom plugin.

Example from apple docs:
[code]

[2017-05-26 19:22] alokrajiv commented on #80
@GillesC anyway I can help?

[2017-05-26 20:02] alokrajiv commented on #71
So, It looks like we are doing exactly as the  [ Android API Docs](https://developer.android.com/reference/android/content/SharedPreferences.Editor.html#clear()) are saying.....
Let me try to replicate the issue.
I think running remove on all keys is okay, if we assume the number of keys will not be too much.

[2017-05-26 20:39] alokrajiv commented on #71
@NoNameProvided  btw in your implementation, you are calling the `StorageHandle` async function inside the `for loop` right.

I guess we will need to use `async` or some counter to call a callback after all storagehandles exit because otherwise:
[code]
will run before the handles finish. and, the error will never be called.

[2017-05-26 20:54] alokrajiv commented on #70
@Dj1b  are you sure the plugin in properly installed on the ios platform?

[2017-05-26 21:05] alokrajiv commented on #73
@davidofwatkins Thank you very much for bringing this into notice.

I am going to re-write the windows implementation using`Windows.Storage.ApplicationData.current.localSettings`.

[2017-05-27 07:38] NoNameProvided commented on #71
Just checker I have figured out while was testing this in our app, seems haven't updated the answer here.

Thanks for the catch! ("catch" hehe 😄 )

[2017-05-27 07:41] alokrajiv commented on #71
@NoNameProvided  just to confirm, you still face the issue with `clear()` right! Theoretically, Android API Docs says it should work as expected :|

[2017-05-27 07:45] NoNameProvided commented on #71
We have finished that project, but I will take a look sometimes, and report back. Anyway thanks for looking into this.

[2017-05-27 07:47] alokrajiv commented on #71
No worries, My bad...should have looked into it earlier. Didn't get time.

In the meantime, I will try to replicate on an emulator. Thanks for reporting!!

[2017-05-28 08:27] NoNameProvided commented on #71
I have tried to reproduce the bug, with a newly created test app on the same test device (Nexus 5), but I could not. Magic. The only thing I can imagine, is one of the OS updates have fixed the issue.

I guess we can close this.

[2017-05-28 08:27] #71 closed

[2017-06-10 19:29] fgagneten opened #82 "ReferenceError: NativeStorage is not defined in Android 4.4.2"
I get the following error on android 4.4.2:

     ReferenceError: NativeStorage is not defined
                                                              at file:///android_asset/www/scripts/login/login.service.js:109:21
                                                              ...
                                                              ...

The following line (109) is:

    NativeSto

[2017-06-15 23:30] dotnetCarpenter commented on #82
Did you call `NativeStorage.setItem('user', data.user)` before `deviceready` or after?

`NativeStorage` does not exist before `deviceready`.

[code]

[2017-06-16 14:53] dotnetCarpenter opened #83 "NativeStorageError is not a real Error, you can test with instanceof Error"
My use-case is that I need to test if the argument to the callbacks is a NativeStorageError.

[code]

_PR with a fix will come soon_

[2017-06-16 15:05] #83 closed

[2017-06-20 12:48] Dj1b commented on #70
Yes it seems it is an installation problem. Plugin was not installed in the good project folder.
Sorry for this.

[2017-06-20 12:48] #70 closed

[2017-06-20 12:49] GillesC commented on #70
Glad it is resolved! :)

[2017-06-29 12:06] mezykr opened #86 "NativeStorage.keys() is not working in chrome browser..."
`NativeStorage.keys(
() => {console.log('success');},
() => {console.log('error');}
);`

causes an error:

`Uncaught TypeError: Cannot read property '0' of undefined
    at StorageHandle.LocalStorageHandle [as storageHandlerDelegate] (LocalStorageHandle.js:5)
    at StorageHandle.keys (mainHandle.js:397)
    at <anonymous>:1:15`

[2017-08-02 12:06] darshanrampatel opened #87 ""Class not found" error when trying to use plugin"
I have installed the plugin into my Ionic v1 Cordova project.

I am trying to use the `setItem` function as below:

    $cordovaNativeStorage.setItem( "testRef", { testProp: true } ).then( function ( value ) {
    	console.log( value );
    }, function ( error ) {
    	console.error( error );
    } );

However, I get the below error:

![image](https://user-images.githubusercontent.com/14162899/288

[2017-08-02 12:59] GillesC commented on #87
Hello,
On which platform are you deploying your application?

[2017-08-02 13:00] darshanrampatel commented on #87
@GillesC This is on Android 5.1.1

[2017-08-03 20:18] Maziar-Fotouhi opened #88 "iOS Sporadic Crash on SetItem"
I am using this plugin through Ionic2 in an enterprise app with thousands of users each day. I have been seeing this crash report in XCode for a long time now:

![image](https://user-images.githubusercontent.com/12825530/28941517-e89c717c-785d-11e7-9fdd-84cded18f631.png)

As you can see, this has been happening on setItem method. Here is the code from the NativeStorage.m file:

[code]

And this is

[2017-08-03 20:27] Maziar-Fotouhi commented on #88
Could this be related to this?
https://github.com/TheCocoaProject/cordova-plugin-nativestorage/issues/36

Or could it be because I am calling _nativeStorage.setItem_ multiple times at once, sometimes? E.g. I have _setItem()_ calls like this in consecutive lines:
[code]

Would this cause a crash?

[2017-08-08 16:41] tomilofano commented on #86
@alokrajiv
I get the same issue.

My code:
[code]

the outpus:
[code]

Command:
[code]

Ionic info:
[code]

Google chrome version:
[code]

[2017-08-17 10:42] darshanrampatel commented on #87
@GillesC, just to let you know, I upgraded my project to Android 6.2.3 and the issue has gone away.

[2017-08-17 10:42] #87 closed

[2017-08-23 11:10] alokrajiv commented on #86
Sorry...guys. Let me look into it. Was a bit busy! :)

There is a PR #85 that I think will fix. I'll pull it tonight if it passes all test. Thanks!

[2017-09-05 22:07] probil commented on #46
So, I found the bug.
On android device it's `error.code`, in browser -> `error.code.code`.

[2017-09-06 02:01] LockonF commented on #88
It's been happening to me when I try to do even a single write with
`nativeStorage.setIdem(key, value);`

My full log is as follows

[code]

[2017-09-07 12:16] Nikkolas opened #90 "I want to store the current page"
Hi, i want to know how can i store the current html page? I have several html pages in my app and when the user leaves the application, I want that when it restarts it arrives on the same page.

Do you know what is the best way to do this?

Thank you for your help.

[2017-09-07 12:29] GillesC commented on #90
Thank you for using our plugin.
The issue page is meant to post issues, errors and other problems related to our plugin.
Your problem is a programming problem, and thus should be posted in a forum such as StackOverflow (where you can use our tag [cordova-nativestorage](https://stackoverflow.com/questions/tagged/cordova-nativestorage)).

For this reason, I will close this issue and will answer your

[2017-09-07 12:29] #90 closed

[2017-09-29 14:31] funkyvisions opened #92 "Values persisting across app uninstall and install on Android?"
Have you seen any issue where settings are being persisted across app uninstall and reinstall (which we don't want)?  We are testing on several Android devices and we have 1 that behaves this way.  All the others have the data wiped.  iOS seems to behave correctly as well.

[2017-09-29 14:41] GillesC commented on #92
This is documented in the readme, see F.A.Q.
This is the default behaviour of SharedPreferences in Android.
To tackle this issue, you could clear the NativeStorage stored values (`NativeStorage.clear(<success-callback>, <error-callback>);`) if your app has just been installed for the first time.

Thus:
- NativeStorage.getItem("isFirstTime",...)
- If it is the first time you access 'isFirstTime' re

[2017-09-29 18:41] funkyvisions commented on #92
Oh I missed that... thanks!

[2017-10-08 08:48] yenoss opened #93 "I want to check whether it is the first visit in my app"
hi !

thank u for your cordova - library! so useful!

I want to check whether it is the first visit in my app

here's  my sudo code.

[code]

I just find two ways.

what is  best practice ? plz give me a some hit!

thank u

[2017-10-09 12:43] Sahbum opened #94 "getItem is always returning error 2 for an item that exists"
I was working through an issue unrelated to nativestorage, and did some iterations of removing and adding the plugin.  At some point, getItem stopped getting items from storage, always returning not found.  setItem works, I can see it put items into storage, but it never finds them.

I'm working with Ionic3, and running my app on a native android device.

Here's my code in question:
[code]
Inside

[2017-10-11 10:28] alokrajiv commented on #92
Seems this is not an issue. Closing :)

[2017-10-11 10:28] #92 closed

[2017-10-11 12:23] alokrajiv commented on #86
I have merged the branch. Sorry for the delay again guys.

@mezykr @tomilofano could you please confirm if this issue is fixed now.

PS: This version is not yet released to npm. Please install from master

`cordova plugin add https://github.com/TheCocoaProject/cordova-plugin-nativestorage`

[2017-10-11 13:52] alokrajiv commented on #93
Thank you for using the plugin. We are very happy you find it useful.

The issue page is meant to post issues, errors and other problems related to our plugin.
Your problem is a usage problem and thus should be posted in a forum such as StackOverflow (where you can use our tag [cordova-nativestorage](https://stackoverflow.com/questions/tagged/cordova-nativestorage)).

I am going to close this issu

[2017-10-11 13:52] #93 closed

[2017-10-11 13:55] alokrajiv commented on #88
@GillesC could you have a look at the 2 above posts. Maybe you can help. Thanks!

[2017-10-11 14:05] alokrajiv commented on #86
I have merged PR #85 . Sorry for the delay again guys.

@mezykr @tomilofano I have recreated your error and this has fixed the issue.

Thanks for the reporting!!

For anyone wanting to solve this before we make the new release:

Please install directly from GitHub master branch:

`cordova plugin add https://github.com/TheCocoaProject/cordova-plugin-nativestorage`

cc @GillesC (we have a few other

[2017-10-11 14:05] #86 closed

[2017-10-11 14:08] alokrajiv commented on #59
@Maziar-Fotouhi I am assuming your comment is related to Issue #88.

@GillesC we might need to see how to trace this bug : 🤔

[2017-10-11 14:10] alokrajiv commented on #54
I am temporarily closing this issue because there was no activity here.

Would be happy to re-open if anyone faces this!

[2017-10-11 14:10] #54 closed

[2017-10-11 14:26] Maziar-Fotouhi commented on #59
@alokrajiv Yes. I created that issue.
I have also confirmed that the crashes are not due to anything that I have guessed so far. So, I'm completely out of ideas now!

[2017-10-11 14:32] alokrajiv commented on #88
@LockonF based on @LockonF 's log...do you think we are battling this framework error discussed: https://forums.developer.apple.com/thread/63254 &
https://stackoverflow.com/questions/39520499/class-plbuildversion-is-implemented-in-both-frameworks

[2017-10-11 14:41] alokrajiv commented on #82
Please reconsider before posting such questions in the Issues section.

The issue page is meant to post issues, errors and other problems related to our plugin.
Your problem is a usage problem and thus should be posted in a forum such as StackOverflow (where you can use our tag [cordova-nativestorage](https://stackoverflow.com/questions/tagged/cordova-nativestorage)).

I am going to close this iss

[2017-10-11 14:41] #82 closed

[2017-10-11 14:53] Maziar-Fotouhi commented on #88
@alokrajiv I believe that _PLBuildVersion_ being defined twice is not causing the crash. It is letting it go through and **using one of the definitions**. I think the exception is raised later on at the **last two lines before the stacktrace**.
Based on [1](https://stackoverflow.com/questions/26852432/app-crashing-with-error-nsnull-length-unrecognized-selector-sent-to-instanc) and [2](https://stac

[2017-10-11 15:06] alokrajiv commented on #48
Made a commit 11cbc5a1c76539d34161a1d17728a92bca6f6f96 to silence this error.

Effectively it replaces error parameter at the JavaScript level with a dummy empty function if nothing was passed. Effectively making error parameter now option.

@GillesC  Could you update the docs if possible.

[2017-10-11 15:06] #48 closed

[2017-10-11 15:07] alokrajiv commented on #88
@Maziar-Fotouhi interesting...lets explore this further with special focus on your insights.

cc @GillesC

[2017-10-11 15:10] alokrajiv commented on #46
@probil thanks.. will fix and push soon!

[2017-10-11 15:16] alokrajiv commented on #65
Same as Issue #46. Closing here and tracking the issue there.

Please feel free to comment if anyone thinks I am wrong. Always happy to reopen if necessary.

[2017-10-11 15:16] #65 closed

[2017-10-11 15:24] alokrajiv commented on #94
High our tests are passing on Android. Is it possible its some logical error. If so could please post on Stackoverflow with our tag and close this issue.

If you still think this is a bug...please give us more logs and maybe try running on the browser and see if the error is still happening(localstorage fallback)

[2017-10-15 13:58] sirg2003 opened #95 "Missing setSecretItem & getSecretItem in ios library"
Hello. It seems there is missing functions in ios library files:
- getSecretItem
- setSecretItem
Any plans to implement?

[2017-10-16 17:34] alokrajiv commented on #95
I'll let @GillesC be the judge of this feature's track.

But, my understanding is that as of now we haven't even documented it, and the fact that it is available as a hidden feature is just a matter of interest for advanced users.

You can track this feature process under Future Track section of the wiki.

Not very sure how many of our users really require this feature as well.

But, hey if you ca

[2017-10-17 07:25] MoemenMostafa commented on #59
Also I have same crash reports:

`Last Exception Backtrace:
0   CoreFoundation                	0x1847bbd38 __exceptionPreprocess + 124 (NSException.m:166)
1   libobjc.A.dylib               	0x183cd0528 objc_exception_throw + 56 (objc-exception.mm:521)
2   CoreFoundation                	0x1847bbc80 +[NSException raise:format:] + 116 (NSException.m:141)
3   CoreFoundation                	0x1847f3d54

[2017-10-17 07:29] alokrajiv commented on #59
@MoemenMostafa hope you don't mind..I edited your comment to format the report, so all can read it easily.

[2017-10-19 03:19] yenoss commented on #93
ok! i got it.

thanks!

[2017-10-20 02:20] Story5 opened #96 "plugin_not_installed on iOS"
I confirm install the plugin and it works well on android.
But when I call the get `getItem` method and got the error.

Blow is my ionic develop environment
[code]

[2017-10-20 15:21] LorenDorez opened #97 "NativeStorage is not defined"
I just added this plugin to my Telerik Cordova Project but when i go to use it i get 'NativeStorage is not defined' this is the only plugin i have installed that i cant seem to get working.

here is a sample of the code im been trying
[code]

[2017-10-20 16:55] Mickeyrr opened #98 "Access stored values in iOS/Objective-c"
Hi.
How can I access the storage variables in Objective-c.
You can put an example.
Thank you.

[2017-10-26 06:28] jafarbtech opened #99 "NativeStorage gets cleared when I clear the cookie"
I am clearing the cookie using `$.removeCookie()`. after doing this the NativeStorage also gets cleared. Is anything wrong to clear cookie?

[2017-11-03 01:05] Charles808 commented on #53
Hi @GillesC  !

Could you please see my problem here ?
https://stackoverflow.com/questions/47073611/cordova-nativestorage-and-android

Your suggestion just don't work for me.

[2017-11-09 08:10] keysk commented on #97
I just had this issue and used "window.NativeStorage" not just "NativeStorage". However, this only worked in a build of the App and did not work in the Simulator or the Cordova Developer App.

[2017-11-13 21:39] iursevla commented on #87
If someone else has this problem, try to run `ionic cordova build android` again. It solved the issue for me.

[2017-11-15 16:39] glewiswp opened #100 "NativeStorage undefined in browser"
I can't seem to get NativeStorage working in Chrome browser for testing. It works fine in the ios emulator but not in the browser. It is rather tedious to have to keep transpiling the application and re-booting the ios simulator for testing.

[code]

Returns inactive in browser.

Chrome:
`Version 61.0.3163.100 (Official Build) (64-bit)`

NativeStorage installed via:
[code]
Out of `$ cordova plugin

[2017-11-28 11:03] sum1190 commented on #88
Hi, I've created an app that use this plugin and unfortunately I get the same error. After some analysis done on the routine `setItem` in the file `NativeStorage.m`, I've setted the line 214 in this way

   `if(reference!=nil && (NsNull*) aString == [NsNull null]) { ...`

I'm not an Objective-C developer and I don't know if this fix is really useful but in this way my app doesn't crash anymore.

[2017-11-29 15:28] Maziar-Fotouhi commented on #88
@alokrajiv Is this a viable fix?

[2017-11-30 06:25] alokrajiv commented on #88
Very Interesting ... can one of you check if branch issue-88-patch-1  solves the issue?

Its based on @sum1190 's fix!

[2017-11-30 15:58] Maziar-Fotouhi commented on #88
@alokrajiv Unfortunately I am seeing this error sporadically right now. So, I won't really be able to test it. Sorry!

[2017-11-30 16:02] sum1190 commented on #88
In my case, the app crash occurred at the first start of the app. I've published it on Apple's TestFlight, at the first start the app crash, on the second start no.
So I've reproduced the error by uninstalling it and install it again. You can try in this way I think.

[2017-12-05 02:47] alokrajiv commented on #99
@jafarbtech What platform are you using?

[2017-12-05 02:48] alokrajiv commented on #98
cc @GillesC

[2017-12-05 03:00] alokrajiv commented on #100
The mission-critical tests are passing... We are aware of some error functions misbehaving on the browser but not anything critical:

<img width="459" alt="screen shot 2017-12-05 at 10 58 21 am" src="https://user-images.githubusercontent.com/8435139/33587986-86a7a734-d9ab-11e7-9c41-d14d8d567651.png">

[2017-12-05 03:05] alokrajiv commented on #97
cc @GillesC

[2017-12-05 07:18] jafarbtech commented on #99
I am using android

,

--

♥~~~WITH REGARDS~~~♥

♥~~~JAFAR SATHIK~~~♥

On Tue, Dec 5, 2017 at 8:17 AM, Alok Rajiv <notifications@github.com> wrote:

[2017-12-06 06:45] alokrajiv commented on #96
I'm not sure if anyone is facing this at the moment. Can you confirm the procedure you followed to setup .

[2017-12-06 06:47] alokrajiv commented on #94
Closing due to inactivity. Feel free to comment if you want to re-open!

[2017-12-06 06:47] #94 closed

[2017-12-06 15:41] GillesC commented on #97
Have you installed the plugin through the Cordova CLI or the AppBuilder of Telerik?

[2017-12-17 14:11] AdobeWordPress opened #102 "NativeStorage.keys Usage"
Hey,

I have a two questions about NativeStorage.keys

1. I want to get all keys in NativeStorage and if they start with date word, alert them. This is my code.

[code]

2. How to get value of the key while using NativeStorage.keys? Sample code :
[code]

Thanks!

[2017-12-18 06:05] wytlytningNZ opened #104 "Allow Androids shared preferences name to be set dynamically"
We have existing apps in production that have stored their preferences under a different name than "NativeStorage".

We would like to be able to configure this value from cordova's `config.xml` file.

Related PR is here: https://github.com/TheCocoaProject/cordova-plugin-nativestorage/pull/103

[2017-12-18 21:50] wytlytningNZ commented on #104
Thankyou for merging https://github.com/TheCocoaProject/cordova-plugin-nativestorage/pull/103 @GillesC

Am I able to get a version bump please? 🙏

[2017-12-18 21:51] GillesC commented on #104
After some more testing, I will jump up the version number and publish it
to nominate :)

On 18 Dec 2017 22:50, "Josh Hollinshead" <notifications@github.com> wrote:

[2017-12-18 22:24] wytlytningNZ commented on #104
Thankyou very much

[2017-12-20 16:03] GillesC commented on #98
You can access an item stored through getItem via the following objective-C line:
[code]

[2017-12-27 06:51] jasonz1987 commented on #80
+1 need this

[2018-01-04 04:11] hari5004 opened #105 "Grey Screen Appears after splash screen in iphone"
I have followed the steps in readme for installing the plugin in my cordova application which uses cordova version 3.7.

[2018-01-05 09:53] Matt-z91 opened #106 "iOS problem with NativeStorage.keys"
Hi folks, I'm by no means an expert and I've only been using Cordova NativeStorage for a couple of days now. I'm having a bit of a problem when calling NativeStorage.keys(s, e)...  returning instead a large array (189 items) of various WebKit keys -  which I presume to be the NSUserDefaults.

To my knowledge, when debugging my iPhone via Safari I am able to set items to storage just fine, but I am

[2018-01-05 10:55] alokrajiv commented on #106
@Matt-z91 Hi Matt, I just ran the test suit and key functions test passed on iPhone 7+ with iOS 11.1

https://github.com/TheCocoaProject/cordova-plugin-nativestorage/blob/3ac059f2247bf06c187c0b271e26249fe4747c19/tests/main.js#L401

If you are sure, then let me explore it further and get back. But, in the meantime could you explain your code/usage and/or try on an iOS <11.1.

Thanks!

[2018-01-05 11:00] alokrajiv commented on #105
What do you mean by GreyScreen???

Please be more specific:

- How did you install (more importantly which version)
- What is you iOS version
- What error you got on the console
- What is the usage and put in examples.

[2018-01-05 11:04] alokrajiv commented on #104
Let me close this for you guys!

Feel free to re-open if needed ofcourse.

[2018-01-05 11:04] #104 closed

[2018-01-05 11:11] alokrajiv commented on #100
Closing because of in-activity.

Not an plugin issue from my understanding.

[2018-01-05 11:11] #100 closed

[2018-01-05 11:12] alokrajiv commented on #105
Could you help by checking if it was the fix from https://github.com/TheCocoaProject/cordova-plugin-nativestorage/issues/86 that is causing your problem in iOS 11.2.

[2018-01-05 11:13] alokrajiv commented on #105
Could you help by checking if it was the fix from https://github.com/TheCocoaProject/cordova-plugin-nativestorage/issues/86 that is causing your problem in iOS 11.2.

Just install from a previous commit and see if the issue persists.

[2018-01-05 11:16] alokrajiv commented on #96
Closing from in-activity.  Don't feel this is an actual issue of the plugin!

[2018-01-05 11:16] #96 closed

[2018-01-05 11:18] Matt-z91 commented on #106
Thanks for your reply Alokrajiv.

I've managed to partially resolve the problem by changing my implementation. The scenario is as follows:
- There are several items/objects we wish to store if device goes offline,
- Objects are stored with a random key to later identify them,
- Device goes offline - attempt to fetch all the objects via NativeStorage.keys.

(At this point,  when NativeStorage.keys

[2018-01-05 11:28] alokrajiv commented on #99
Really sorry for late replies. But, I could you give more context like your usage. We don't use cookies to my knowledge! (@GillesC )

[2018-01-05 11:37] alokrajiv commented on #106
@Matt-z91  Another alternative will be save it as a config object and keep updating the object.

roughly like `NativeStorage.getItem('config', (config)=>{config.foo = bar; NativeStorage.setItem('config', config)});`

Sorry, you have to use a workaround  :(

[2018-01-05 11:40] alokrajiv commented on #106
@GillesC We have a bug.

The test do check if the key exists, but not if there are other entries inside.

`NativeStorage.keys((...args)=>console.log(...args));`

showed me :

[2018-01-05 12:18] alokrajiv commented on #106
Went till nc2() `cordova.js#1045`. The values are coming into the js command queue `cordova.js#1036` from native code..which is interesting because why _Webkit_ then... 😕 . But, it from the objective-c code for sure...so your territory :) @GillesC 👨‍💻
[code]

[2018-01-05 12:24] Matt-z91 commented on #106
Thanks for delving into that Alokrajiv, it's much appreciated.

[2018-01-05 14:19] GillesC commented on #106
It seems that iOS is already injecting some keys which can be used to control the WebKit behaviour of an application. And I am, thus, unsure how to resolve this problem. We can live with it. Or we could include our own prefix prior to storing it in nsuserdefaults. But this will make it more complex if users want to access the default injected keys.

[2018-01-05 14:22] alokrajiv commented on #106
But, how is iOS injecting WebKit. Or is it happening at the Cordova Native Bridge?

[2018-01-05 14:27] GillesC commented on #106
It could be also Cordova iOS which uses NSUserdefaults to store defaults for the used webview.

[2018-01-05 14:29] GillesC commented on #106
See:
https://github.com/apache/cordova-ios/blob/3507af4ac68ed13cfb4d8ecfd0e91e747a9c6875/CordovaLib/Classes/Private/Plugins/CDVLocalStorage/CDVLocalStorage.m#L366

[2018-01-05 14:30] alokrajiv commented on #106
oh..ofcourse. Other components could be using NSUserDefaults.

So, that means we need to be careful not to return info not saved by the plugin!!

[2018-01-05 14:32] GillesC commented on #106
The only problem is that we do not want to interfere with the keys used by Cordova or the WebKit (which can also access nsuserdefaults).

[2018-01-05 14:33] alokrajiv commented on #106
We could do 2 things

- maintain our book-keeping..ie.maintain our config which can include a list of indexes

- prefix our index internally, so we don't mix our data with other application data

[2018-01-05 14:50] GillesC commented on #106
@alokrajiv
Or use [initWithSuiteName](https://developer.apple.com/documentation/foundation/nsuserdefaults/1409957-initwithsuitename?language=objc), which lets you define a specific db to store your variables. Hence, nog internal indexing is needed.

[2018-01-07 15:25] mbkinnovo opened #107 "Newest source fails build in my environment"
Worked fine last week... (and still does with my fork...)

[code]

[2018-01-07 17:26] mbkinnovo commented on #107
Seem to have to go back to 2.2.1 to have a successful build... otherwise the build fails or the ap starts with a white screen...

[2018-01-08 05:32] alokrajiv commented on #107
cc @GillesC

[2018-01-08 07:56] alokrajiv commented on #107
@mbkinnovo are you building from GitHub master? because we haven't updated NPM for sometime now.

[2018-01-08 10:09] mbkinnovo commented on #107
Yeah, did build from the newest github.

[2018-01-08 10:30] alokrajiv commented on #107
@GillesC our master is then unstable...

[2018-01-16 22:52] wytlytningNZ commented on #104
We able to get a release cut for this resolved issue?
PR merged here: https://github.com/TheCocoaProject/cordova-plugin-nativestorage/pull/103

[2018-01-19 12:16] GillesC commented on #100
Fixed in commit 27be91e8acb759fd2ae8e8a8b73e725b1a0a84fc

[2018-01-23 06:31] alokrajiv commented on #46
Sorry for delay guys, but this issue was fixed in PR #108

[2018-01-23 06:31] #46 closed

[2018-01-23 06:33] alokrajiv commented on #107
Hi, is anyone else facing issue? Looks to me the master is actually stable..no other reported errors.

[2018-01-23 06:39] #95 closed

[2018-01-23 17:30] ealch commented on #107
Still not working, I think that you messed up in this [commit]( https://github.com/TheCocoaProject/cordova-plugin-nativestorage/commit/8e6e6e784b006f7d51e6fe4079b59b1e67798f41).
Since  you mistyped 'NsNull' and you opened two times the clauses.

[2018-01-24 11:35] Matt-z91 commented on #98
How might one go about achieving this using app groups?

I have a main app and a Share Extension that use the same grouping. I am trying to adapt the following snippet of code in my app extension to produce the values I've previously stored in the main app.

`var defaults = UserDefaults(suiteName: "group.com.crowdtechnologies.crowdcontrolhq")
        defaults?.synchronize()

        // Check for n

[2018-01-29 20:03] GillesC commented on #107
Merged your PR (aff0b51cf06924d34c67425788f06c460ba3859d) thank you for your contribution! I will close this issue now :)

[2018-01-29 20:03] #107 closed

[2018-02-01 20:08] julesongithub commented on #73
@alokrajiv I don't know how to use github but I've got the code to replace the Windows.Security.Credentials.PasswordVault functionality with Windows.Storage.ApplicationData.current.localSettings:
[code]

[2018-02-08 03:07] josteph opened #110 "setItem or getItem returns no value (iOS 11)"
Scenario:

I have a data returned from the server in [object Object] format.
I use `const parsed = JSON.parse(JSON.stringify(data))`, it will become:
[code]

I was able to alert the data like: `alert(data.access_token)` (showing me the string value) before actually storing the string of access_token like `window.NativeStorage.setItem('access_token', parsed.access_token)`

But it seems during getIt

[2018-02-08 08:37] GillesC commented on #110
Dear josteph
Could you try to install the latest version from Github instead of the npm package?
The installation procedure is explained [here](https://github.com/TheCocoaProject/cordova-plugin-nativestorage#reinstallinginstalling-developer-version).

[2018-02-08 10:34] josteph commented on #110
@GillesC Thanks for the response!

Is there any difference, specifically for `setItem` or `getItem` methods?

Anyway, I will try to install from Github and will update you the result tonight.

[2018-02-08 10:58] GillesC commented on #110
There is no (there should not be any) difference for these methods.
Thank you for your feedback!

[2018-02-08 13:11] Jckf commented on #110
Hello. We might be experiencing the same issue. My app also uses NativeStorage to store a session token, and tried to load it immediately after device ready. The response from NativeStorage is error code 2, ie. item not found. However running the same code a few seconds later works just fine, so it seems the storage is not ready on device ready.

[2018-02-08 22:24] wytlytningNZ opened #111 "Version bump on NPM"
Can we please get a release deployed to NPM?
As a bunch of PR's have been merged since the last release (~10 months ago)

[2018-02-09 01:30] josteph commented on #110
@Jckf Hmm my issue is not exactly the same. I'm using also OAuth2 Library, successfully returned the tokens in JSON format and stored using setItem. But got the `JSON_ERROR` instead when calling getItem on the credentials.

@GillesC The issue still remains, the setItem is using JSON.stringify(data) then JSON.parse(data), not sure if this is causing the issue? I will try to putString instead and wi

[2018-02-09 03:35] josteph commented on #110
Ok I've confirmed the issue here. The token is so long that it even takes long enough for the getItem success callback is actually called. Other short data seems to work fine though.

What's the recommend way to store 4096 length of string?

[2018-02-09 03:57] #110 closed

[2018-02-12 22:01] alsoicode commented on #97
I have a similar issue trying to use the plugin with Angular 4. No matter how I reference `NativeStorage` it is always `undefined`.

[2018-02-14 01:48] alokrajiv commented on #111
@GillesC

[2018-02-14 01:51] alokrajiv commented on #105
Closing due to inactivity. Please do comment if anyone faces this issue.

[2018-02-14 01:51] #105 closed

[2018-02-14 01:53] alokrajiv commented on #99
Closing due to inactivity. Please let us know if anyone has seen this error and we could definetly re-open!

[2018-02-14 01:53] #99 closed

[2018-02-14 01:59] alokrajiv commented on #88
There seems to be less occurrence of reporting this error at the moment.

[2018-02-14 02:10] alokrajiv commented on #98
@Matt-z91 Issue #80 is a feature request in progress. Probably you should follow that issue.

[2018-02-14 02:11] alokrajiv commented on #98
Closing this issue due to inactivity. Please comment to re-open.

[2018-02-14 02:11] #98 closed

[2018-02-14 13:32] GillesC commented on #111
Here you go! :)
https://www.npmjs.com/package/cordova-plugin-nativestorage

[2018-02-14 13:32] #111 closed

[2018-02-14 20:35] beaulac opened #112 "setItem is broken in iOS in v2.3.0"
Calling `setItem` with any value (object, array, string) in iOS causes error code 3.

e.g.
[code]

I believe the condition to check for a null reference [here](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/blob/ed3e0d5775f904671e325988562eb74892476234/src/ios/NativeStorage.m#L214) is backwards.

I've opened a PR (#113) that addresses this issue. With this change, `setItem` works

[2018-02-14 21:23] Snead commented on #112
Having the same issue with no changes on our side since when it was working.

[2018-02-16 14:41] ayhanbinici commented on #112
I can verify this bug on iOS 11.2.5. Reverting this plugin back to version 2.3.0.

[2018-02-16 20:03] DineshKaushik commented on #112
Yes , with latest version of plugin iOS NativeStorageSetItem is broken every time getting Error:3.
But works fine for Android . Reverting back to @2.2.2 solves the issue.

[2018-02-19 20:54] dalezak commented on #112
Any ETA on a fix for this issue?

Even though I explicitly set the version of  `cordova-plugin-nativestorage` to `2.2.2`, upon re-adding the iOS or Android platform, the `package.json` gets incremented back to `^2.3.0`.

[2018-02-20 12:16] DineshKaushik commented on #112
@dalezak Downgrading to @.2.2.2 worked for me. Don't remove the platform iOS/Android , just remove the plugin and add again and it will work , use following commands:

cordova plugin rm cordova-plugin-nativestorage
cordova plugin add cordova-plugin-nativestorage@2.2.2

[2018-02-21 09:18] #112 closed

[2018-02-21 16:38] dalezak commented on #112
Hmm, I've upgraded to `2.3.1` however still getting an error trying to `setItem` for a `boolean` value.
[code]
[code]

[2018-02-26 16:11] dalezak commented on #112
@GillesC I'm kind of roadblocked on this, still running into issues on iOS, any thoughts?

[2018-02-26 17:24] Snead commented on #112
@dalezak you should use 2.2.2 for now. (Not the adapter, the plugin)

[2018-02-27 04:46] hari5004 commented on #97
I have faced similar issue ,i resolved it by adding the Plugin name in config.xml file in the following way

     <feature name="NativeStorage">
            <param name="ios-package" value="NativeStorage"/>
        </feature>

[2018-03-23 18:33] JeffBerman commented on #47
This actually _is_ an issue.  When using NativeStorage.setItem() on the browser platform, the object is stringified twice.  When using NativeStorage.getItem(), it is parsed twice.  While odd, this doesn't actually hurt anything when using NativeStorage to do both actions.

It breaks, however, when using NativeStorage to retrieve an item that was originally written by window.localStorage.  In my ca

[2018-03-23 18:51] JeffBerman opened #114 "Items are stringified and parsed twice on browser platform"
When using NativeStorage.setItem() on the browser platform, the object is stringified twice.  When using NativeStorage.getItem(), it is parsed twice.  While odd, this doesn't actually hurt anything when using NativeStorage to do both actions.

It breaks, however, when using NativeStorage to retrieve an item that was originally written by window.localStorage.  In my case, I'm upgrading our app, whi

[2018-03-28 02:17] LKruglov commented on #97
Resolved similar issue by adding
``<script src="cordova.js"></script>
to index.html

[2018-04-19 10:31] alokrajiv commented on #114
cc @GillesC

[2018-04-19 21:25] JeffBerman commented on #73
Has this been looked into at all, or has @julesongithub's code been reviewed? We just got bit by the same NATIVE_WRITE_FAILED error on a Windows 10 Surface Pro.

[2018-05-09 13:55] Klaasvaak opened #115 "No tag for 2.3.1 and not found in releases page"
On npm the latest version published is 2.3.1. But there is no tag of it in git. Also not present in https://github.com/TheCocoaProject/cordova-plugin-nativestorage/releases

[2018-05-09 14:01] GillesC commented on #115
Thank you for your remark.
I have made a v2.3.1 release.

[2018-05-16 06:54] BorntraegerMarc opened #116 "FAQ link does not work"
In the section "Oh no my stored data is not cleared after reinstalling my application. How do I resolve this 'issue'?
" in the FAQ: https://github.com/TheCocoaProject/cordova-plugin-nativestorage#faq

you are referencing a stackoverflow question: https://stackoverflow.com/questions/42538421/ionic-nativestorage-not-clear-when-reinstal-application-release

but the link resolves in a 404

[2018-05-19 04:14] jimseiwert opened #117 "Can't find variable: NativeStorage"
I had a project from about 7 months ago I was trying to rebuild. When I run it on ios I get the error "Can't find variable: NativeStorage" from the polyfills file. I tried to play with versions up and down but ended with no such luck

Cordova - Version 6.5
Ionic - Version 3.20.0

Here is a list of my dependencies
`"dependencies": {
        "@angular/animations": "4.1.3",
        "@angular/common":

[2018-05-19 11:51] jimseiwert commented on #117
I have also verified the call is inside the ready event

[2018-05-19 18:50] jimseiwert commented on #117
Was able to solve the issue by getting latest from repo directly and not npm

[2018-05-19 18:50] #117 closed

[2018-05-20 19:15] GillesC commented on #116
Thank you for the feedback.
It seems that the question on SO has been deleted.
I will update the readme.
But short:
- on Android: https://stackoverflow.com/questions/41808957/sharedpreferences-not-reset-on-reinstall

[2018-05-25 16:31] Emptyfruit opened #118 "Browser platform error object has wrong structure."
Ios or Android platform produce error object with structure as documented with `code` property that is a number. But in Browser platform `code` property is itself an object with the same structure as `error`, that is: `code`, `source` and `exception`. So in Browser i have to handle errors is such a manner:

[code]

Plugin version: 2.3.1

Ionic info
[code]

[2018-05-26 23:29] shamilovtim commented on #106
Stumbled across this issue today. Going to see if I can store all of the keys under one identifier to solve this problem.

[2018-05-28 11:40] KimGames commented on #37
I still have the same problem, some solution? My problem is: at first time, I'd like to read a QR Code and save it with NativeStorage. After closing the app, I don't want to read the QR Code again. So, the page Intro(the page that allows me to read the QR Code) should not open. My code for save data in IntroPage is `private save(val){
    console.log('data added ' + val);
    this.nativeStorage.se

[2018-06-05 13:51] catalsdevelop commented on #97
When I use NativeStorage to debug in desktop browser env, I find It's not initialized at first, so I use a   interval to check whether it is attached to window then start my app.
[code]

[2018-06-25 17:54] TakshPSingh commented on #70
I think I have the same problem. How did you find out that it was an installation problem ?

[2018-06-25 18:10] TakshPSingh commented on #97
I also have the same problem. I installed the plugin via the phonegap CLI. The plugin works perfectly on the browser, however is undefined on the phone. What could be the reason for this ?

[2018-06-26 13:18] TakshPSingh opened #119 "Plugin works on browser but not on phone"
I am using the Phonegap CLI to serve my project and my plugin version is: 2.3.1

So, I wrote the following code to execute after the device is ready:
[code]

This works perfectly when I am testing it on my browser. However, when I open this app on my android phone, the NativeStorage code does not work at all.

I used weinre to debug my app:

I got the error: ReferenceError: NativeStorage is not de

[2018-07-02 12:33] puneethshetty12 commented on #37
I am facing the same issue. The app loses data after I close it.

[2018-07-03 04:56] puneethshetty12 commented on #94
Hello, I'm facing the same issue as well. It works perfectly fine on android. In iOS, I can set the value but can't retrieve it. Xcode console showed the '' error code 2, source 'native', exception : null. ''. And NSURLConnection error with 1100

[2018-07-09 09:48] saty932 opened #120 "How can I access the native storage value in other plugins of ios?"
Is there any way I can access the nativestorage data in ios app other plugins.I need to call the api's in other plugins so I wanted to fetch the nativestorage details there.

[2018-07-16 06:39] #116 closed

[2018-07-25 07:49] BorntraegerMarc opened #121 "Maybe use this AES 256 lib for encryption"
I've seen in the [future track](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/wiki/Future-track#encryption-api-not-yet-implemented) that you want to implement encryption.
I found this cool library that handles AES 256 encryption: https://github.com/Ideas2IT/cordova-aes256 maybe it can be used so we don't have to implement everything from scratch :)

[2018-08-01 09:28] bigHoss101 opened #122 "Android returning Null val"
Hi,

I'm creating a cross platform app with phonegap 6.5.2, it's working fine on IOS. But when I create an android project, it's saving or returning a null value. Is there anything else I need to do to initialise it on android? I'm using the setitem and getstring methods. Is this issue familliar to anyone?

Best Regards,
Hoss

[2018-08-07 12:30] JaviLopezM opened #123 "initWithSuiteName"
Dears,
how I use the first declaration ?
Nativestorage.initWithSuiteName("nameOfMyApp");

Because when I call this function I can't compile:
Property 'initWithSuiteName' does not exist on type 'NativeStorage'.

[2018-08-07 13:50] GillesC commented on #123
Are you using the latest version of the plugin, i.e. v2.3.2?
If not, please install the latest version from npm or from Github (dev. version): https://github.com/TheCocoaProject/cordova-plugin-nativestorage#installation.

[2018-08-08 06:52] JaviLopezM commented on #123
I think so,
I installed yesterday using NPM like this:
https://ionicframework.com/docs/native/native-storage/

[2018-08-27 11:00] GillesC commented on #121
I will check the plugin and include in ours if applicable.
However, feel free to fork the repo and make a PR.

[2018-08-27 11:04] GillesC commented on #122
Dear @bigHoss101
Use `getItem` if you have stored your item using `getItem`.
The `getString` method is deprecated. For more info on the usage see:https://github.com/TheCocoaProject/cordova-plugin-nativestorage#usage.

This should resolve you problem.

[2018-08-27 11:05] GillesC commented on #120
This is possible through this method call: https://github.com/TheCocoaProject/cordova-plugin-nativestorage#ios-specific-features

[2018-08-27 11:05] #120 closed

[2018-08-27 11:06] GillesC commented on #122
I will close this issue. If this, however, does not solve your problem be free to reopen it.

[2018-08-27 11:06] #122 closed

[2018-08-27 11:07] GillesC commented on #118
issue related to #74.

[2018-08-27 11:29] GillesC commented on #119
See if issue #82 resolves your problem.

[2018-09-03 20:10] mmt78 opened #125 "Ionic 4 Beta Error"
I am trying to use this plugin on Ionic 4 project. But I am getting 'TypeError: Object(...) is not a function' error. Please help me solve this problem.

[2018-09-06 21:01] ThorvaldAagaard commented on #125
This error is because you haven't updated your references to the new version of Ionic Native

[2018-09-10 09:12] GillesC commented on #125
Please reopen if the aforementioned comment did not resolve your issue.

[2018-09-10 09:12] #125 closed

[2018-09-29 14:44] alokrajiv opened #126 "Test Suite - Structural Inconsistencies"
Since, almost 2 years when I first wrote this test suite :) , there have been new requirements or guidelines on this. For example

- the `package.json` mandate.
- travis automation added in other popular plugins

Also, I noticed that as the plugin was bumped the test suite version was not bumped.

[2018-09-29 14:44] alokrajiv commented on #126
PR on the way :)

Also, I know there are other issues I have seen that I'm trying to fix along with this

[2018-09-29 14:48] alokrajiv opened #127 "Lean down production build"
I see that examples are added to the installation (effective production build).

This might be unnecessary and we can take to separate repo. Helps lean down the plugin.

Shud also probably look into minifying the code.

[2018-09-29 14:49] alokrajiv commented on #127
PR on the way.

I know of other issues I have seen lately. Will be trying to fix along with this as well.

[2018-09-29 14:53] alokrajiv commented on #73
Unfortunately, something I missed along the way. Maybe someone can contribute here?

[2018-09-30 11:38] alokrajiv commented on #114
I have pasted a wrong comment earlier, which I have taken off.

I confirm yes that we are double parsing and stringifying.

Fixing it might mean, no backward compatibility.

cc @GillesC

[2018-09-30 15:53] alokrajiv commented on #107
Sorry about the mess up :(

thanks, @ealch & @mbkinnovo 👍 👍 👍 ... dunno how it was missed.

.... I really need to automate those tests onto Travis .

.... will squeeze in sometime in the coming weeks and get it up...so this never happens again

[2018-10-03 03:48] alokrajiv commented on #114
Understood. Fix look easy and I will add it to wip branch.

@GillesC suggest though whether we merge to a minor or major release?

Unless someone uses browser platform for production this might not be an issue..

[2018-10-03 16:11] JeffBerman commented on #114
Thank you, Alok!

[2018-10-09 11:33] sachinsemlety opened #128 "Native Storage issue in IOS devices"
In IOS devices, everytime when app starts, i am not getting the value from nativeStorage but if not restarting the app the value persists in native storage, please check what is the issue

[2018-10-09 11:48] alokrajiv commented on #128
Can you be more specific with your issue. I didn’t quite understand.

Possibly add a code sample to showcase whatbyou are trying to do.

[2018-10-10 05:19] sachinsemlety commented on #128
Hello @alokrajiv,
Actually, the scenario is, i am having login page, and i want to store the user credentials like username and password, so i am storing the user credentials in native storage plugin by setting,

Code:

    this.nativeStorage.setItem('user_credentials', {user:'user',password:'123'})
      .then(
        () => console.log('Stored item!'),
        error => console.error('Error stori

[2018-10-12 10:14] #128 closed

[2018-10-17 08:54] eddyorzsik commented on #88
hi @alokrajiv, is there an ETA for a new release with the iOS crash bug fixed?

[2018-10-21 12:42] landry161 opened #129 "Remove methods executes also setItem()"
Hi i try to use remove method with this this.nativeStorage.remove("teste");
But the setItem method is also executed.
Can you help me please??

[2018-11-05 11:19] alokrajiv commented on #88
@GillesC I thought we already have this fix in a release. It's in master as far as I'm aware.

[2018-11-28 16:50] Aarbel opened #130 "Can this plugin help to persist cache of pure webview"
Thanks a lot for this great work @GillesC !

On Cordova i'm just wrapping my webapp in WkWebview with a window.location and remote injection of Cordova API with this plugin : https://github.com/Clovis-team/clovis#workspaces/clovis-5937c309804a3a132d0735a4/boards?repos=93525585

Do you think `cordova-plugin-nativestorage` could help me to persist the cache of this wrapped web app ?

Thanks a lot fo

[2018-12-29 21:54] webnoob opened #131 "Class not found error when using NativeStorage.getItem or setItem"
Hi,

Using the following code:

[code]

I always get `ERROR: Class not found`.
What could cause this?

Note: I've seen the other post on this issue and re-build didn't resolve it. I'm running the app in cordova dev mode on an android emulator running version 8.0 of android and 2.3.2 of this plugin.

[2019-01-02 09:34] Aarbel commented on #130
@alokrajiv thanks, pasted wrong link, updated ;)

[2019-01-18 19:23] newuser44 opened #132 "storeItem seems to store in chrome LocalStorage"
It seemed like this was only build to work with mobile app storage.
We build a version of our ionic app for production demo.
Looking at the build all the values that we setup with storeItem  are in the local storage.
Not what we expecting.  Is this suppose to happen?

[2019-01-18 22:24] dalslandan200 opened #133 "Update F.A.Q."
I read the documentation and as of 2019 this seems to not be an issue. The applicationData (anything stored with this plugin) seems to be successfully removed when the application is uninstalled. So, if this is not an issue anymore, is it possible to remove this from F.A.Q. for better understanding:

You need to set android:allowBackup=false in the application tag of AndroidManifest.xml. More info

[2019-01-20 07:34] JeffBerman commented on #132
When running your app in a desktop browser, setItem stores its stuff in local storage.

It says so here: https://github.com/TheCocoaProject/cordova-plugin-nativestorage/wiki/How-it-works

[2019-01-20 08:10] GillesC commented on #132
The plugin was developed to address the issue of local storage on mobile devices. However, this issue was (is? ) not present in browsers. In addition, we wanted not to add more complexity than necessary thus no database implementation was used.

[2019-01-22 15:49] newuser44 commented on #132
@JeffBerman
I'm not actually sure what this means

JSON in combination with localStorage

@GillesC

I can see that.   The reason we were kind of pushed to use this plugin was because we were storing some data in local storage.   We were hoping to take out and I guess our assumption was that it wouldn't work for browser.

[2019-01-22 18:43] JeffBerman commented on #132
The Native Storage plugin was created so that Cordova apps running on mobile devices could store data in more permanent locations than local storage. When developing a Cordova app, it is sometimes convenient to test it in a desktop web browser instead of on a mobile device, so the Native Storage developers added support for this. They did this by writing to local storage, which allows Cordova app

[2019-01-22 18:54] newuser44 commented on #132
That is exactly what we do for support purpose we use the ionic build browser and push it out to production.   Again not used by our customers but by support users.    Thus we were trying to eliminate some local storage values.

[2019-01-22 18:54] #132 closed

[2019-01-25 06:37] FarhadG opened #134 "Any way to see these values within the Settings view?"
Curious if these values could be seen inside of the application settings tab in iOS (for example)?

[2019-01-31 18:02] reynave opened #135 "Failed first install plugin"
I cannot install through this plugin, I'm using 8.1.2 (cordova-lib@8.1.1), whats wrong ?

[code]

[2019-02-07 08:56] kallewangstedt opened #136 "Why no promise returned?"
To avoid callbacks within callbacks indefinitely in the cordova app it would be nice if the 			NativeStorage.getItem() could return a promise that could be resolved when the return value is available.

As of now it does not (or at least I can't figure out how) and the documentation does not explain how to work with the plugin in a complex app with a lot of getting/setting data into storage. All I

[2019-02-09 14:20] alokrajiv commented on #136
Ok..let me attempt to answer your question.

Why no promises, short answer compatibility - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise#Browser_compatibility

So, directly at the plugin layer to maintain compatibility I don't think we can return a Promise. Still remember when almost a year back, an accidental commit using `const` & `let` crashed apps for

[2019-02-19 15:27] JesseRMeyer opened #137 "Ionic 3 - No provider for NativeStorage"
Hi.

I've added this plugin following the instructions here : https://ionicframework.com/docs/native/native-storage/

However, whenever I try to use it, my app crashes complaining about a lack of a provider for NativeStorage. I'm not sure how to obtain the error message since it is displayed on my device itself and is not mirrored in the terminal.

My usage looks like :

[code]

instead of the emp

[2019-02-22 15:40] JesseRMeyer commented on #137
The docs I pointed to are for ionic v4. The v3 installation docs provide the correct method on how to provide the provider.

[2019-02-22 15:40] #137 closed

[2019-02-23 16:03] benag commented on #131
did you solve this?

[2019-02-23 16:11] webnoob commented on #131
No...

[2019-02-24 14:31] alokrajiv commented on #131
Just to confirm, you are running this after the `deviceready` event yes?

[2019-02-24 14:56] webnoob commented on #131
Correct, yes.

[2019-02-26 10:19] GillesC commented on #131
Could you also provide the 'source' and 'exception' as per [NativeStorageError](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/blob/master/www/NativeStorageError.js)?

[2019-02-26 10:51] GillesC commented on #135
Could you consult issue #51 ?

[2019-02-26 10:53] GillesC commented on #119
Closed due to inactivity. Will reopen if necessary.

[2019-02-26 10:53] #119 closed

[2019-02-26 11:00] GillesC commented on #133
This F.A.Q. question relates to unwantedly restoring app data when the application is reinstalled.
This is due to the data being backed up. If you set the `android:allowBackup` to false, the app will not be included in the back-up procedure. However, if this is not the case anymore in as of 2049, could you please provide a link to the documentation so I can update the F.A.Q.?

[2019-03-09 18:18] fabianglace opened #138 "Values not consistent"
Using android 8+, cordova 8+.

On first load gets ID from server and save successfully.
When i close the app and reopen it ID is there
Close the app again and reopen ID not there, error code: 2. Gets the ID from server and saves again. When reopen the app ID is there but when i close and reopen does not have ID. So essentially the data is not persistent. When i close the app or update it looses th

[2019-03-11 04:18] alokrajiv commented on #136
cc @GillesC

closing due to no activity.

[2019-03-11 04:18] #136 closed

[2019-03-13 08:00] suhail339 commented on #37
I am facing the ame issue on ios, is there anything i missed? Currently using > 2.3

[2019-03-13 10:13] dodomui commented on #36
I'm still facing the issue for ionic v1, any one got idea what to do?

[2019-03-14 14:47] dractw commented on #34
But in another hand, you can simply calling callback and also returning the value synchronously.
That's make sense, when you making some cross-platform app with the same core with sort of Storage Interface, which uses, in case of mobile - NativeStorage or localStorage in webapp.

[2019-03-17 04:22] alokrajiv commented on #34
@dractw can you clarify the comment. I didn't quite get you. Sorry :)

[2019-03-17 20:02] syntheticgoo commented on #131
Resolved for me with platform remove -> platform add (like almost everything in Ionic).

[2019-03-19 04:48] dodomui opened #139 "IOS doesn't work"
Tried IOS 8 to IOS 11, all stuck at app startup right after splash screen.
No error found in console.

Tried adding Meta according to documentation
https://stackoverflow.com/questions/38410159/cordova-app-hanging-during-startup-on-ios-10

Still the same problem.

Appreciate if any solution for this.

(Everything is just working fine in Android)
Running Ionic V1 with latest cordova-plugin-nativesto

[2019-03-22 14:34] jhoogeboom commented on #139
suffering from the same issue here

[2019-03-30 09:06] alokrajiv commented on #139
We haven't pushed anything off late. So not sure what broke. cc @GillesC

[2019-04-08 09:03] mesqueeb commented on #139
I'd love this plugin to work again on Cordova v8 and Cordova-ios v5!

[2019-04-09 23:43] dodomui commented on #139
@mesqueeb you can work this plugin with cordova v8 and cordova-ios 5?

[2019-04-09 23:52] mesqueeb commented on #139
@dodomui I haven’t tried yet! I ended up implementing file storage instead of this.

[2019-04-10 11:59] GillesC commented on #139
I welcome PR's or any information regarding this error. I do not have access to an iPhone, so I can not check this error.
I will see if I can get my hands on an iPhone. Offcourse, donating one is also appreciated. :)

[2019-04-25 20:58] rolinger commented on #131
I started getting this error this week too - on both of my two test phones.  I will remove/add platform and report back

[2019-04-29 16:22] kperdomoc opened #140 "getItem returns JSON_ERROR trying to get a value stored using objective c"
So Im rebuilding this iOS app with ionic and would like to migrate the old user data stored using NSUserDefaults. For example, the old app would store the username like this:

`[defaults setObject:user.username forKey:@"username"];`

And Im trying to get that back using getItem:

`this.nativeStorage.getItem('password').then(
        data => {
          console.log("USERNAME: ", data)
        },

[2019-07-06 20:29] abisael opened #141 "losing data on ios"
I'm using ionic v3 and the data is not persisting in ios, after closing the app I lose all data, in android works perfectly

[2019-07-30 05:28] azzuresky opened #143 "retrieving data from another app"
Hi would like to know if it is possible to get stored data from another app?
for example app-A store a data, then app-B retrieves it..

[2019-07-30 11:18] GillesC commented on #143
Yes, see this link: https://stackoverflow.com/questions/39159754/how-get-data-from-cordova-plugin-nativestorage-in-android-java/39269620#39269620 and the F.A.Q. of the plugin https://github.com/TheCocoaProject/cordova-plugin-nativestorage#FAQ

[2019-07-30 11:19] #143 closed

[2019-08-26 17:59] elkhalifte opened #144 "How can i get value from NativeStorage.getString() Without Using Callbacks?"
I Have Used This Plugin cordova-plugin-nativestorage in My Phonegap app . The Plugin Works fine.

I Wonder If There Is any trick to get values from Nativestorage.getItem() without callbacks

This My Code i Call app.getstring('ref_string'); To get Saved Data in ref_string Key as an Alert.

When I Try To save it To Input Text as a Value I Got Undefined.

getstring:function(key){

ativeStorage.getStr

[2019-09-04 09:39] J3m5 commented on #114
Hi, I'm using it on the browser platform and I was was wondering if this is the reason why the values get registered with "\" at the beginning and \"" at the end?

[2019-09-05 11:53] alokrajiv commented on #114
@J3m5 you are spot on! So, long and we haven't fixed it. I'm sorry.

Would you be able to give a PR?

[2019-09-05 14:03] J3m5 commented on #144
The solution would be to wrap the methods in a promise.
 That would make them asynchronous.

[code]

I didn't test it, but it's certainly  the way to go.

[2019-09-09 07:30] J3m5 commented on #114
I'll take a look, do you have any idea why the values are parsed and stringified twice ? I quickly went through the source code but I didn't see anything obvious.

[2019-09-23 14:09] sts-ryan-holton opened #145 "Undefined data in iOS when trying to store data"
I've installed the latest version of this plugin into my Cordova / Nuxt JS project. I'm trying to store some data when I click a button, and alert the data back when a different button is clicked:

[code]
This seems to return `undefined` on the `alert()` when testing on a physical device compiled in Xcode 10.

[2019-09-23 15:21] sts-ryan-holton commented on #123
I've implemented this and it seems to work great for Android, however, with iOS, after storing to Native Storage once and force-closing the app, the native storage has been cleared upon reopening the app. For Android, this isn't the case

[2019-09-23 15:27] sts-ryan-holton commented on #141
Also getting this same issue in iOS 13.

[2019-10-19 12:14] YemYigit opened #146 "NativeStorage.keys func returns un known keys by default on IOS"
When i try to list stored keys in my NativeStorage Unit i use this lines of codes
`NativeStorage.keys(keys => console.log(keys), err => console.log(err))`

**Expected Beahviour**
Returns an array of keys created by user.

**Actual behaviour**
Return an array of 215 default keys first 99 samples are here

0 "WebKitDownloadAttributeEnabled"
1 "WebKitMediaSourceEnabled"
2 "WebKitSimpleLineLayoutEnabl

[2019-11-05 08:22] Swat2k commented on #141
same issue in iOS 13

[2019-11-07 11:15] c2petrov opened #147 "Angular Cordova app stucks at splash screen on iOS 13+"
# Bug Report

## Problem

Cordova App is working fine with iOS< 13. But after updating to iOS 13, It is getting stuck at splash screen.

### What does actually happen?

App was successfully builded via cordova cli, then in XCode but when the iPad Simulator loaded the app it stucks on the splash screen and just loads forever. This problem doesn't occur on iOS 12, there it works as expected. Ive tri

[2019-11-25 14:04] c2petrov commented on #147
Hello,

I've managed to resolve my issue with just change version of cordova-plugin-inappbrowser. Actually it didn't workout with just setting the latest version so Ive add it like
<plugin name="cordova-plugin-inappbrowser" spec="git+https://github.com/apache/cordova-plugin-inappbrowser" /> into config.xml and
"cordova-plugin-inappbrowser": "git+https://github.com/apache/cordova-plugin-inappbrowse

[2019-12-11 12:14] htorbov opened #148 "Please, close this issue."
Please, close this issue.

[2019-12-12 17:11] #148 closed

[2019-12-20 02:32] elavankarthik84 opened #149 "Ionic Native Storage not working Android 9+"
Dear Team,
We are all most developed our hybrid application for android and ios using ionic v3 project and we using ionic v3 native storage and it is working fine but now we encountered issues for while using any android 8+ or 9+ version of device the native storage not working. please help us

plugin details :
**

ionic details:

Ionic:

   ionic (Ionic CLI)  : 4.3.1 (/usr/local/lib/node_modules/

[2020-02-02 17:19] rL071 commented on #149
Hi,

I have the same problem.
Did you find any solution ?

Thanks in advance

[2020-02-21 07:49] distante commented on #149
Is this still a problem?

[2020-02-21 07:53] distante opened #151 "Is this project being maintained?"
I am looking into migrate my user preferences from Ionic's storage (That uses IndexedDB) to a native solution. This plugin looks like the perfect solution but there was no update from almost 2 years (besides the README 17 Months ago).

Issues like [Ionic Native Storage not working Android 8+ 9+](https://github.com/TheCocoaProject/cordova-plugin-nativestorage/issues/149) from DEC 2019 worries me.

[2020-02-21 09:45] rL071 commented on #149
it's ok for me

[2020-02-27 09:59] TianleZhang commented on #141
Same issue in iOS 13

[2020-02-29 18:43] elavankarthik84 opened #152 "MFP v8.o Push Rest Service Implementation sample java project or adapter"
Dear Team,
We are struggling to implement if use sdk based push service registration as per business needs so that we would request IBM team, if possible to share sample java based or adapter based PUSH rest API integration hands on code. it will really help us. below senario  we required ,

1 . how to register the notification user id with device based
2. how to send the notification with particu

[2020-04-09 20:53] hersoncruz commented on #94
+1

[2020-04-15 12:44] RavenAcuzar commented on #149
Hello,

I'm also still encountering this problem.
Any solutions yet?

Thanks!

[2020-04-19 16:33] distante commented on #149
Do you have info about this? I mean native and browser logs?

[2020-04-22 10:47] Haeven commented on #94
+1

[2020-06-02 00:44] Thul999 commented on #151
I would like to know too.

I haven't had any issues though.

[2020-06-02 15:54] GillesC commented on #151
Hi all,

Short answer, I have no time for maintaining the project.

However:
Thank you for your interest in the project. I, currently, have difficulties in combining this plugin, work, family (newborn baby) and renovations. That is why I opted for the [Github sponsorship](https://github.com/sponsors/GillesC), which should provide some incentive --for my girlfriend-- so I could invest more time in

[2020-06-02 15:55] GillesC commented on #152
This is not related to the project.

[2020-06-02 15:55] #152 closed

[2020-06-02 15:56] GillesC commented on #133
closed due to inactivity.

[2020-06-02 15:56] #133 closed

[2020-06-08 20:19] Thul999 commented on #114
Are there any news about this issue?

[2020-06-08 21:16] J3m5 commented on #114
TBH, I switched to Capacitor since then, there is an official plugin for this.

[2020-09-29 16:37] rr-phillips opened #153 "IOS build issue"
This plugin works perfectly with android, but I'm having trouble getting it to build to my iphone 7 with software 13.6.

When I try to build to the phone in xcode I get these errors, and nothing I do has been able to help. I've reinstalled it, and re-did my pods (I know that it's not a pod), and it runs fine when the project doesn't have this plugin with it, but when I add it I can't get through t

[2020-09-29 18:56] rr-phillips commented on #153
this was my own blunder. I had to remove the onesignal notification first, and then add the native-storage, and then re-add the onesignal plugin.

[2020-09-29 18:56] #153 closed, assigned to nobody

[2020-10-07 06:21] 2xSamurai opened #154 "Migrate data to React Native"
Hello @GillesC
First of all, Thank you for the awesome plugin. I was using this in my ionic platform.

I have a query, is there any way I can get the data from this plugin to React Native. We are replacing Ionic with React Native and we wish to take the user details which were stored using this plugin. But I was unable to find any info on this. Any help would be much appreciated.

Thanks again.

[2020-10-28 09:08] zyhzx123e opened #155 "Experience slow in ionic native storage in android version(sharedpreferences)"
In the document, it stated : Less than 1 milisecond to save or retrieve an object, but in android it is not the case when store large json object into.

I have experienced lagging and screen UI freeze when large data getting written or read

I have tried in ionic/storage storing same amount of data, it did not freeze the UI

[2020-11-02 13:16] sirineKr opened #156 "iOS - setItem function always returns the wrong callback (Error storing item)"
Hello,
I use this plugin with the Ionic4 framework. It works fine on Android but on iOS, the setItem function always returns "Error storing item" even if the data is well recorded.
[code]
In the native code (in setItem function) in debug mode, success  variable always returns "no".
[code]
When, I change the condition in setItem function with the following code, I have the right callback
[code]
Wit

[2021-09-15 08:28] CodeWithOz commented on #138
@fabianglace did you find a way around this? I think one of my users is experiencing something similar.

[2021-09-20 14:04] CodeWithOz opened #157 "Outdated values after installing new version of the app"
Sometimes when I install a new version of the app, some values I retrieve are not up to date. The keys contain values from several days before, instead of the most recent values from a few hours before. As a simple example, consider this:
[code]

a few hours later after I open the app again
[code]

the next day after I open the app again
[code]

So the idea is that for some reason the value saved

[2021-12-13 22:07] #80 closed

[2022-01-14 21:48] oduverne commented on #141
Same issue in iOS 15. Has anyone found a solution?
In fact the data is not totaly lost, sometimes after saving data I can retrieve data previously saved that I can't access if I read it after the application starts.

[2022-01-14 23:11] oduverne commented on #141
I found my issue. The content I was saving was too big ; after reducing its size it is working fine

[2022-03-31 09:52] kavalsony commented on #154
Hello, Did you find any solution for this? I have the same requirement. any help.

[2022-04-01 18:42] kavalsony commented on #154
Hello, I have found the solution. You can use this plugin to get data from native storage. Works for both android and ios.
[[github.com/kevinresol/react-native-default-preference](https://github.com/kevinresol/react-native-default-preference)](url)